<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学院任务管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="static/js/framework/requirejs/require.min.js"
            th:src="@{static/js/framework/requirejs/require.min.js(v=${version})}"></script>
    <script src="static/js/framework/requirejs/require.config.js"
            th:src="@{static/js/framework/requirejs/require.config.js(v=${version})}"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-main>
            <el-card class="box-card" shadow="hover">
                <div slot="header" class="clearfix">
                    <span>查询条件区</span>
                </div>
                <el-form :inline="false" :model="queryCond" label-position="right" label-width="100px">
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label="任务类型">
                                <el-select v-model="queryCond.taskType" filterable placeholder="请选择">
                                    <el-option
                                            v-for="courseTaskType in courseTaskTypes"
                                            :key="courseTaskType.value"
                                            :label="courseTaskType.name"
                                            :value="courseTaskType.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="课程ID">
                                <vue-select v-model="queryCond.courseId"></vue-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="课程名称">
                                <vue-select v-model="queryCond.courseName"></vue-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label="课程任务ID">
                                <vue-select v-model="queryCond.courseTaskId"></vue-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item>
                                <el-button type="primary" @click="query">查询</el-button>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </el-card>

            <el-card class="box-card" shadow="hover">
                <el-row style="padding-bottom: 12px">
                    <el-button type="success" icon="el-icon-folder-add" @click="fixedTaskRelease">新增任务课程</el-button>
                    <el-button type="danger" icon="el-icon-delete" @click="">删除任务课程</el-button>
                </el-row>
                <el-table
                        :data="courseTaskInfo" stripe="true" height="350" style="width: 100%"
                        @selection-change="handleSelectionChange">
                    <el-table-column type="selection" width="40" align="center"></el-table-column>
                    <el-table-column type="expand" align="center">
                        <template slot-scope="props">
                            <el-table
                                    :data="props.row.collegeCourseChaptersList" stripe="true" height="300"
                                    style="width: 100%" align="center">
                                <el-table-column prop="courseId" width="50" label="课程ID"
                                                 align="center"></el-table-column>
                                <el-table-column prop="chaptersName" width="200" label="章节名称"
                                                 align="center"></el-table-column>
                                <el-table-column prop="chaptersStudyOrder" width="150" label="章节学习顺序"
                                                 align="center"></el-table-column>
                                <el-table-column prop="chaptersType" width="100" label="章节类型"
                                                 align="center"></el-table-column>
                                <el-table-column prop="studyTime" width="100" label="学习时间/天"
                                                 align="center"></el-table-column>
                                <el-table-column prop="studyModel" width="100" label="学习模式"
                                                 align="center"></el-table-column>
                                <el-table-column label="操作" align="center" width="80">
                                    <el-button type="danger" width="50" size="mini" icon="el-icon-edit"
                                               @click="">修改
                                    </el-button>
                                </el-table-column>
                            </el-table>
                        </template>
                    </el-table-column>
                    <el-table-column label="课程ID" fixed prop="name" width="100" align="center">
                        <template slot-scope="courseTask">
                            <el-button type="text" @click="loadCoureChapters(courseTask.row)">{{
                                courseTask.row.courseId }}
                            </el-button>
                        </template>
                    </el-table-column>
                    <el-table-column prop="courseName" width="200" label="课程名称" align="center"></el-table-column>
                    <el-table-column prop="courseType" width="100" label="课程类型" align="center"></el-table-column>
                    <el-table-column prop="courseStudyOrder" width="200" label="课程学习顺序"
                                     align="center"></el-table-column>
                    <el-table-column prop="staffRank" width="120" label="员工职级" align="center"></el-table-column>
                    <el-table-column prop="taskType" width="120" label="任务类型" align="center"></el-table-column>
                    <el-table-column prop="studyTime" width="120" label="学习时间/天" align="center"></el-table-column>
                    <el-table-column fixed="right" label="操作" align="center" width="80">
                        <template slot-scope="scope">
                            <el-button type="danger" width="50" size="mini" icon="el-icon-edit"
                                       @click="">修改
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-card>

            <div style="text-align: center">
                <el-pagination
                        layout="total, prev, pager, next"
                        :total="queryCond.count"
                        :current-page.sync="queryCond.page"
                        :page-size="queryCond.limit"
                        @current-change="query">
                </el-pagination>
            </div>
            <el-dialog width="80%" title="新增课程任务" append-to-body :visible.sync="addCourseTaskDialogVisible">
                <el-card>
                    <el-row style="padding-bottom: 12px">
                        <el-button type="success" icon="el-icon-folder-add" @click="fixedTaskRelease">新增章节</el-button>
                        <el-button type="danger" icon="el-icon-delete" @click="">删除章节</el-button>
                    </el-row>
                </el-card>
            </el-dialog>
        </el-main>
    </el-container>
</div>
<style>
    .text {
        font-size: 14px;
    }

    .box-card {
        margin-bottom: 12px;
    }

    .item {
        margin-bottom: 18px;
    }

    .el-card__header {
        padding: 10px;
    }

    .modify_row {
        color: #ff4835;
    }

    .new_row {
        color: #4DAF29;
    }

    .delete_row {
        text-decoration: line-through;
    }
</style>
<script src="static/js/modules/bss/salary/edit.royalty.detail.js"
        th:src="@{static/js/modules/college/task/college.task.manage.js(v=${version})}"></script>
</body>
</html>