<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>dolphin-admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="static/js/framework/requirejs/require.min.js"
            th:src="@{static/js/framework/requirejs/require.min.js(v=${version})}"></script>
    <script src="static/js/framework/requirejs/require.config.js"
            th:src="@{static/js/framework/requirejs/require.config.js(v=${version})}"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-main>
            <el-row :gutter="12">
                <el-card class="box-card" shadow="hover">
                    <div slot="header" class="clearfix">
                        <span>员工信息</span>
                    </div>
                    <el-tabs v-model="subActiveTab" type="border-card">
                        <el-tab-pane label="基本信息" name="baseInfo">
                            <el-col :span="20">
                                <el-row :gutter="5">
                                    <el-col :span="8">
                                        <div class="text">
                                            员工姓名：
                                            <template v-if="employee.name != null && employee.name != ''">
                                                <el-tag type="danger">{{employee.name}}</el-tag>
                                            </template>
                                        </div>
                                    </el-col>
                                </el-row>
                                <el-row :gutter="5">
                                    <el-col :span="8">
                                        <div class="text item">
                                            员工ID：
                                            <template v-if="employee.employeeId != null && employee.employeeId != ''">
                                                <el-tag type="danger">{{employee.employeeId}}</el-tag>
                                            </template>
                                        </div>
                                    </el-col>
                                    <el-col :span="8">
                                        <div class="text item">
                                            联系电话：
                                            <template v-if="employee.mobileNo != null && employee.mobileNo != ''">
                                                <el-tag type="danger">{{employee.mobileNo}}</el-tag>
                                            </template>
                                        </div>
                                    </el-col>
                                    <el-col :span="8">
                                        <div class="text item">
                                            出生日期：
                                            <template v-if="employee.birthday != null && employee.birthday != ''">
                                                <el-tag type="danger">{{employee.birthday}}</el-tag>
                                            </template>
                                        </div>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="8">
                                        <div class="text">
                                            入职时间：
                                            <template v-if="employee.inDate != null && employee.inDate != ''">
                                                <el-tag type="danger">{{employee.inDate}}</el-tag>
                                            </template>
                                        </div>
                                    </el-col>
                                    <el-col :span="8">
                                        <div class="text">
                                            工作时间：
                                            <template v-if="employee.jobDate != null && employee.jobDate != ''">
                                                <el-tag type="danger">{{employee.jobDate}}</el-tag>
                                            </template>
                                        </div>
                                    </el-col>
                                    <el-col :span="8">
                                        <div class="text">
                                            转正时间：
                                            <template v-if="employee.regularDate != null && employee.regularDate != ''">
                                                <el-tag type="danger">{{employee.regularDate}}</el-tag>
                                            </template>
                                        </div>
                                    </el-col>
                                </el-row>
                            </el-col>
                        </el-tab-pane>
                    </el-tabs>
                </el-card>
            </el-row>
            <el-row :gutter="5">
                <el-col :span="16">
                    <div class="grid-content bg-purple">
                        <el-card class="box-card" shadow="hover">
                            <div slot="header" class="clearfix">
                                <span>员工任务明细</span>
                            </div>
                            <el-timeline>
                                <el-table border
                                          :data="employeeTaskInfo" stripe="true" height="350" style="width: 100%"
                                          ref="employeeTaskInfo" align="center">
                                    <el-table-column prop="taskName" width="120" label="任务名称" align="center"></el-table-column>
                                    <el-table-column prop="studyName" width="120" label="学习内容" align="center"></el-table-column>
                                    <el-table-column prop="taskTypeName" width="120" label="任务类型" align="center"></el-table-column>
                                    <el-table-column prop="studyTypeName" width="120" label="内容类型" align="center"></el-table-column>
                                    <el-table-column prop="studyStartDate" width="200" label="学习开始时间" align="center"></el-table-column>
                                    <el-table-column prop="studyEndDate" width="200" label="学习结束时间" align="center"></el-table-column>
                                    <el-table-column prop="studyCompleteDate" width="200" label="学习完成时间" align="center"></el-table-column>
                                    <el-table-column prop="exercisesCompletedNumber" width="120" label="练习次数" align="center"></el-table-column>
                                    <el-table-column prop="exercisesNumber" width="120" label="习题数量" align="center"></el-table-column>
                                    <el-table-column prop="examScore" width="120" label="考试分数" align="center"></el-table-column>
                                    <el-table-column prop="passScore" width="120" label="考试合格分数" align="center"></el-table-column>
                                    <el-table-column prop="score" width="120" label="评分" align="center"></el-table-column>
                                    <el-table-column fixed="right" label="操作" align="center" width="100">
                                        <template slot-scope="scope">
                                            <el-button type="danger" width="50" size="mini" icon="el-icon-edit"
                                                       @click="evaluateTask(scope.row)">任务评价
                                            </el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </el-timeline>
                            <div style="text-align: center">
                                <el-pagination
                                        layout="total, prev, pager, next"
                                        :total="queryCond.count"
                                        :current-page.sync="queryCond.page"
                                        :page-size="queryCond.limit"
                                        @current-change="initEmployeeTaskDetailInfo">
                                </el-pagination>
                            </div>
                        </el-card>
                        <el-card class="box-card" shadow="hover">
                            <div class="grid-content bg-purple-light">
                                <el-collapse value="1" accordion>
                                    <el-card class="box-card" shadow="hover">
                                        <div>
                                            <el-divider content-position="left"><span style="font-weight: 700">学习任务完成情况</span>
                                            </el-divider>
                                        </div>
                                        <el-row>
                                            <span class="demonstration">任务平均评分</span>
                                            <div>
                                                <el-tag size="mini">该任务在所有员工中排名{{taskDetailInfo.allEmployeeTaskScoreInfo.employeeTaskScoreRanking}}超过{{taskDetailInfo.allEmployeeTaskScoreInfo.employeeTaskScoreCxceedPercentage}}的员工</el-tag>
                                            </div>
                                            <div>
                                                <el-tag size="mini">该任务在本部门员工中排名{{taskDetailInfo.orgEmployeeTaskScoreInfo.employeeTaskScoreRanking}}超过本部门{{taskDetailInfo.orgEmployeeTaskScoreInfo.employeeTaskScoreCxceedPercentage}}的员工</el-tag>
                                            </div>
                                            <el-rate
                                                v-model="taskDetailInfo.argTaskScore"
                                                disabled
                                                show-score="true"
                                                text-color="#ff9900"
                                                score-template="{value}">
                                            </el-rate>
                                        </el-row>
                                        <el-row>
                                            <span class="demonstration">学习平均评分</span>
                                            <div>
                                                <el-tag size="mini">该任务在所有员工中排名{{taskDetailInfo.allEmployeeTaskScoreInfo.employeeStudyScoreRanking}}超过{{taskDetailInfo.allEmployeeTaskScoreInfo.employeeStudyScoreCxceedPercentage}}的员工</el-tag>
                                            </div>
                                            <div>
                                                <el-tag size="mini">该任务在本部门员工中排名{{taskDetailInfo.orgEmployeeTaskScoreInfo.employeeStudyScoreRanking}}超过本部门{{taskDetailInfo.orgEmployeeTaskScoreInfo.employeeStudyScoreCxceedPercentage}}的员工</el-tag>
                                            </div>
                                            <el-rate
                                                v-model="taskDetailInfo.argStudyScore"
                                                disabled
                                                show-score="true"
                                                text-color="#ff9900"
                                                score-template="{value}">
                                            </el-rate>
                                        </el-row>
                                        <el-row>
                                            <span class="demonstration">练习平均评分</span>
                                            <div>
                                                <el-tag size="mini">该任务在所有员工中排名{{taskDetailInfo.allEmployeeTaskScoreInfo.employeeExercisesScoreRanking}}超过{{taskDetailInfo.allEmployeeTaskScoreInfo.employeeExercisesScoreCxceedPercentage}}的员工</el-tag>
                                            </div>
                                            <div>
                                                <el-tag size="mini">该任务在本部门员工中排名{{taskDetailInfo.orgEmployeeTaskScoreInfo.employeeExercisesScoreRanking}}超过本部门{{taskDetailInfo.orgEmployeeTaskScoreInfo.employeeExercisesScoreCxceedPercentage}}的员工</el-tag>
                                            </div>
                                            <el-rate
                                                v-model="taskDetailInfo.argExercisesScore"
                                                disabled
                                                show-score="true"
                                                text-color="#ff9900"
                                                score-template="{value}">
                                            </el-rate>
                                        </el-row>
                                        <el-row>
                                            <span class="demonstration">考试平均评分</span>
                                            <div>
                                                <el-tag size="mini">该任务在所有员工中排名{{taskDetailInfo.allEmployeeTaskScoreInfo.employeeStudyScoreRanking}}超过{{taskDetailInfo.allEmployeeTaskScoreInfo.employeeStudyScoreCxceedPercentage}}的员工</el-tag>
                                            </div>
                                            <div>
                                                <el-tag size="mini">该任务在本部门员工中排名{{taskDetailInfo.orgEmployeeTaskScoreInfo.employeeStudyScoreRanking}}超过本部门{{taskDetailInfo.orgEmployeeTaskScoreInfo.employeeStudyScoreCxceedPercentage}}的员工</el-tag>
                                            </div>
                                            <el-rate
                                                    v-model="taskDetailInfo.argExamScore"
                                                    disabled
                                                    show-score="true"
                                                    text-color="#ff9900"
                                                    score-template="{value}">
                                            </el-rate>
                                        </el-row>
                                    </el-card>
                                </el-collapse>
                            </div>
                        </el-card>
                    </div>
                </el-col>
                <el-col :span="8">
                    <div class="grid-content bg-purple-light">
                        <el-collapse value="1" accordion>
                            <el-card class="box-card" shadow="hover">
                                <div>
                                    <el-divider content-position="left"><span style="font-weight: 700">学习任务完成情况</span>
                                    </el-divider>
                                </div>
                                <template>
                                    <el-row :gutter="5">
                                        <el-col :span="12">
                                            <span>任务总数：
                                                <template v-if="taskDetailInfo.allTaskNum != null && taskDetailInfo.allTaskNum != ''">
                                                    <el-tag type="danger">{{taskDetailInfo.allTaskNum}}</el-tag>
                                                </template>
                                            </span>
                                        </el-col>
                                    </el-row>
                                    <el-row :gutter="5" align="center">
                                        <el-col :span="12">
                                            <el-row>
                                                <el-col>
                                                    <span>完成数量：
                                                        <template v-if="taskDetailInfo.taskFinishNum != null && taskDetailInfo.taskFinishNum != ''">
                                                            <el-tag type="danger">{{taskDetailInfo.taskFinishNum}}</el-tag>
                                                        </template>
                                                    </span>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col>
                                                    <el-progress type="circle" :percentage="taskDetailInfo.taskFinish"></el-progress>
                                                </el-col>
                                            </el-row>
                                        </el-col>
                                    </el-row>
                                </template>
                            </el-card>
                        </el-collapse>
                        <el-card class="box-card" shadow="hover">
                            <div>
                                <el-divider content-position="left"><span style="font-weight: 700">学习任务习题练习情况</span>
                                </el-divider>
                            </div>
                            <template>
                                <el-row :gutter="5">
                                    <el-col :span="12">
                                            <span>任务总数：
                                                <template v-if="taskDetailInfo.allTaskNum != null && taskDetailInfo.allTaskNum != ''">
                                                    <el-tag type="danger">{{taskDetailInfo.allTaskNum}}</el-tag>
                                                </template>
                                            </span>
                                    </el-col>
                                </el-row>
                                <el-row :gutter="5" align="center">
                                    <el-col :span="12">
                                        <el-row>
                                            <span>习题完成数量：
                                                <template v-if="taskDetailInfo.exercisesFinishNum != null && taskDetailInfo.exercisesFinishNum != ''">
                                                    <el-tag type="danger">{{taskDetailInfo.exercisesFinishNum}}</el-tag>
                                                </template>
                                            </span>
                                        </el-row>
                                        <el-row>
                                            <el-col>
                                                <el-progress type="circle" :percentage="taskDetailInfo.exercisesFinish"></el-progress>
                                            </el-col>
                                        </el-row>
                                    </el-col>
                                </el-row>
                            </template>
                        </el-card>
                        <el-card class="box-card" shadow="hover">
                            <div>
                                <el-divider content-position="left"><span style="font-weight: 700">学习任务考试情况</span>
                                </el-divider>
                            </div>
                            <template>
                                <el-row :gutter="5">
                                    <el-col :span="12">
                                            <span>任务总数：
                                                <template v-if="taskDetailInfo.allTaskNum != null && taskDetailInfo.allTaskNum != ''">
                                                    <el-tag type="danger">{{taskDetailInfo.allTaskNum}}</el-tag>
                                                </template>
                                            </span>
                                    </el-col>
                                </el-row>
                                <el-row :gutter="5" align="center">
                                    <el-col :span="12">
                                        <el-row>
                                            <el-col>
                                                <span>已合格数量：
                                                    <template v-if="taskDetailInfo.examPassNum != null && taskDetailInfo.examPassNum != ''">
                                                        <el-tag type="danger">{{taskDetailInfo.examPassNum}}</el-tag>
                                                    </template>
                                                </span>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col>
                                                <el-progress type="circle" :percentage="taskDetailInfo.examPassNum"></el-progress>
                                            </el-col>
                                        </el-row>
                                    </el-col>
                                </el-row>
                            </template>
                        </el-card>
                    </div>
                </el-col>
            </el-row>

            <el-dialog width="80%" title="任务评价" append-to-body :visible.sync="evaluateTaskDialogVisible">
                <el-card>
                    <div slot="header" class="clearfix">
                        <el-tabs v-model="subActiveTab" type="border-card">
                            <el-tab-pane label="任务信息" name="baseInfo">
                                <el-col :span="20">
                                    <el-row :gutter="5">
                                        <el-col :span="8">
                                            <div class="text">
                                                任务名称：
                                                <template v-if="taskInfo.taskName != null && taskInfo.taskName!= ''">
                                                    <el-tag type="danger">{{taskInfo.taskName}}</el-tag>
                                                </template>
                                            </div>
                                        </el-col>
                                    </el-row>
                                    <el-row :gutter="5">
                                        <el-col :span="8">
                                            <div class="text item">
                                                开始时间：
                                                <template v-if="taskInfo.studyStartDate != null && taskInfo.studyStartDate!= ''">
                                                    <el-tag type="danger">{{taskInfo.studyStartDate}}</el-tag>
                                                </template>
                                            </div>
                                        </el-col>
                                        <el-col :span="8">
                                            <div class="text item">
                                                结束时间：
                                                <template v-if="taskInfo.studyEndDate != null && taskInfo.studyEndDate!= ''">
                                                    <el-tag type="danger">{{taskInfo.studyEndDate}}</el-tag>
                                                </template>
                                            </div>
                                        </el-col>
                                        <el-col :span="8">
                                            <div class="text item">
                                                完成时间：
                                                <template v-if="taskInfo.studyCompleteDate != null && taskInfo.studyCompleteDate!= ''">
                                                    <el-tag type="danger">{{taskInfo.studyCompleteDate}}</el-tag>
                                                </template>
                                            </div>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="8">
                                            <div class="text">
                                                要求练习次数：
                                                <template v-if="taskInfo.exercisesNumber != null && taskInfo.exercisesNumber!= ''">
                                                    <el-tag type="danger">{{taskInfo.exercisesNumber}}</el-tag>
                                                </template>
                                            </div>
                                        </el-col>
                                        <el-col :span="8">
                                            <div class="text">
                                                考试分数：
                                                <template v-if="taskInfo.examScore != null && taskInfo.examScore!= ''">
                                                    <el-tag type="danger">{{taskInfo.examScore}}</el-tag>
                                                </template>
                                            </div>
                                        </el-col>
                                        <el-col :span="8">
                                            <div class="text">
                                                练习完成次数：
                                                <template v-if="taskInfo.exercisesCompletedNumber != null && taskInfo.exercisesCompletedNumber!= ''">
                                                    <el-tag type="danger">{{taskInfo.exercisesCompletedNumber}}</el-tag>
                                                </template>
                                            </div>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="8">
                                            <div class="text">
                                                考试合格分数：
                                                <template v-if="taskInfo.passScore != null && taskInfo.passScore!= ''">
                                                    <el-tag type="danger">{{taskInfo.passScore}}</el-tag>
                                                </template>
                                            </div>
                                        </el-col>
                                    </el-row>
                                </el-col>
                            </el-tab-pane>
                        </el-tabs>
                    </div>
                    <el-form :inline="false" :model="employeeTaskInfo"  ref="employeeTaskInfo" label-position="right"
                             label-width="120px" size="medium">
                        <el-row>
                            <span class="demonstration">任务总评分</span>
                            <el-rate
                                    v-model="taskScore"
                                    :colors="colors"
                                    show-text>
                            </el-rate>
                        </el-row>
                        <el-row>
                            <span class="demonstration">任务学习评分</span>
                            <el-rate
                                    v-model="studyScore"
                                    :colors="colors"
                                    show-text>
                            </el-rate>
                        </el-row>
                        <el-row>
                            <span class="demonstration">任务练习评分</span>
                            <el-rate
                                    v-model="exercisesScore"
                                    :colors="colors"
                                    show-text>
                            </el-rate>
                        </el-row>
                        <el-row>
                            <span class="demonstration">任务考试评分</span>
                            <el-rate
                                    v-model="examScore"
                                    :colors="colors"
                                    show-text>
                            </el-rate>
                        </el-row>
                        <el-row>
                            <div style="text-align: center">
                                <el-button type="primary" @click="submitScore">保存</el-button>
                                <el-button @click="">取消</el-button>
                            </div>
                        </el-row>
                    </el-form>
                </el-card>
            </el-dialog>
        </el-main>
    </el-container>

</div>

<style>
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .box-card {
        margin-bottom: 12px;
    }

    .el-card__header {
        padding: 10px;
    }
</style>

<script src="static/js/modules/college/task/employee.task.detail.js"
        th:src="@{static/js/modules/college/task/employee.task.detail.js(v=${version})}"></script>
</body>
</html>