<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>dolphin-admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="static/js/framework/requirejs/require.min.js" th:src="@{static/js/framework/requirejs/require.min.js(v=${version})}"></script>
    <script src="static/js/framework/requirejs/require.config.js" th:src="@{static/js/framework/requirejs/require.config.js(v=${version})}"></script>
</head>
<body>
<div id="app" style="display:none" :style="display?display:''">
    <el-container>
        <el-main>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>设计合同信息</span>
                   <!-- <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button>-->
                </div>
                <el-form :inline="false" :model="custQueryCond" label-position="right" label-width="120px">
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label="已收量房费(元)">
                                <el-input v-model="custQueryCond.roomchargeFee" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="已收设计定金(元)">
                                <el-input v-model="custQueryCond.designDeposit" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="合同设计费(元)">
                                <el-input v-model="custQueryCond.contractDesignFee" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label="合同签订时间">
                                <el-date-picker v-model="custQueryCond.contractStartDate" align="right" type="date" placeholder="选择日期" style="width:100%">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="合同结束时间">
                                <el-date-picker v-model="custQueryCond.contractEndDate" align="right" type="date" placeholder="选择日期" style="width:100%">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </el-card>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>工程合同信息</span>
                    <!-- <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button>-->
                </div>
                <el-form :inline="false" :model="custQueryCond" label-position="right" label-width="130px">
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label="合同编号">
                                <el-input v-model="custQueryCond.contractNumber" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="合同总金额(元)">
                                <el-input v-model="custQueryCond.contractTotalFee" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="已收首付款(元)">
                                <el-input v-model="custQueryCond.firstPayment" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label="已收2期款(元)">
                                <el-input v-model="custQueryCond.secondPayment" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="已收主材款(元)">
                                <el-input v-model="custQueryCond.materialPayment" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="已收橱柜款(元)">
                                <el-input v-model="custQueryCond.cabinetPayment" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label="现金优惠(元)">
                                <el-input v-model="custQueryCond.cashDiscount" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="优惠项目">
                                <el-input v-model="custQueryCond.preferentialItems" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                        </el-col>
                    </el-row>
                </el-form>
            </el-card>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>收款信息</span>
                    <!-- <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button>-->
                </div>
                <el-form :inline="false" :model="custQueryCond" label-position="right" label-width="130px">
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label="收据编号">
                                <el-input v-model="custQueryCond.receiptNumber" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="收款日期">
                                <el-date-picker v-model="custQueryCond.collectionDate" align="right" type="date" placeholder="选择日期" style="width:100%">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="收款人">
                                <el-input v-model="custQueryCond.payee" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label="财务员">
                                <el-input v-model="custQueryCond.treasurer" placeholder=""></el-input>
                                <vue-select code-type="SEX" v-model="defaultSex" @change="changeSex"></vue-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="收款金额(元)">
                                <el-input v-model="custQueryCond.collectedFee" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="大写金额(元)">
                                <el-input v-model="custQueryCond.capitalizationAmount" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label="现金(元)">
                                <el-input v-model="custQueryCond.cash" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="兴业刷卡(元)">
                                <el-input v-model="custQueryCond.industrialBankCard" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="浦发刷卡(元)">
                                <el-input v-model="custQueryCond.pudongDevelopmentBankCard" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label="建行基本户(元)">
                                <el-input v-model="custQueryCond.constructionBankBasic" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="建行3797(元)">
                                <el-input v-model="custQueryCond.constructionBank3797" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="工行3301(元)">
                                <el-input v-model="custQueryCond.ICBC3301" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label="工行分期(元)">
                                <el-input v-model="custQueryCond.ICBCInstallment" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="农行分期(元)">
                                <el-input v-model="custQueryCond.ABCInstallment" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="袁备用金(元)">
                                <el-input v-model="custQueryCond.yuanFund" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label="芙备用金(元)">
                                <el-input v-model="custQueryCond.fuFund" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="河西备用金(元)">
                                <el-input v-model="custQueryCond.hxFund" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="收款摘要">
                                <el-input v-model="custQueryCond.summary" placeholder=""></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </el-card>
            <template>
                <el-table
                        :data="custOrder"
                        stripe="true"
                        style="width: 100%">
                    <el-table-column
                            prop="feeCategory"
                            label="款项"
                            fixed
                            align="center"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="periods"
                            label="期数"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="details"
                            label="收款类别（或品牌）"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="ShopName"
                            label="店名"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="collected"
                            label="是否收齐"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="fee"
                            label="金额"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="collectDate"
                            label="收取时间"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="designer"
                            label="设计师"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="designerLevel"
                            label="设计师级别"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="cabinetDesigner"
                            label="橱柜设计师"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="accountManager"
                            label="客户代表"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="projectManager"
                            label="项目经理"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="remarks"
                            label="备注">
                    </el-table-column>
                </el-table>
            </template>
        </el-main>
    </el-container>
</div>
<style>
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom:18px;
    }

    .box-card {
        margin-bottom: 18px;
    }
</style>
<script src="static/js/modules/bss/order/finance/cashier/collect.fee.js" th:src="@{static/js/modules/bss/order/finance/cashier/collect.fee.js(v=${version})}"></script>
</body>

</html>