<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>dolphin-admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="static/js/framework/requirejs/require.min.js"
            th:src="@{static/js/framework/requirejs/require.min.js(v=${version})}"></script>
    <script src="static/js/framework/requirejs/require.config.js"
            th:src="@{static/js/framework/requirejs/require.config.js(v=${version})}"></script>
</head>
<body>
<div id="app" v-cloak>
    <el-container>
        <el-main>
            <el-row :gutter="12">
                <el-col :span="24">
                    <div class="grid-content bg-purple-light">
                        <el-card class="box-card">
                            <div slot="header" style="font-size: 14px">
                                <span>收费操作区</span>
                            </div>
                            <div>
                                <el-form ref="payForm" :model="payForm" label-width="80px">
                                    <el-row :gutter="12">
                                        <el-col :span="12">
                                            <el-form-item label="收款日期"
                                                          prop="payDate"
                                                          :rules="[
                                        { required: true, message: '请选择收款日期', trigger: 'blur' }
                                    ]">
                                                <el-date-picker
                                                        type="date"
                                                        v-model="payForm.payDate"
                                                        value-format="yyyy-MM-dd"
                                                        placeholder="选择日期"
                                                        style="width:100%"
                                                >
                                                </el-date-picker>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="收款金额"
                                                          prop="needPay"
                                                          :rules="[
                                { required: true, message: '请输入收款金额', trigger: 'blur' },
                                { validator: checkPay, trigger: ['blur', 'change']}
                            ]">
                                                <el-input v-model="payForm.needPay" style="width:100%">
                                                    <template slot="append">元</template>
                                                </el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                                <el-divider><i class="el-icon-money"></i>收款项目</el-divider>
                                <el-form ref="itemForm" :model="payItem" label-width="80px">
                                    <el-row style="margin-bottom: 18px;" :gutter="12">
                                        <el-col :span="8">
                                            <el-form-item label="收款项目">
                                                <el-cascader
                                                        v-model="payItem.selectedPayItem"
                                                        ref="payItems"
                                                        placeholder="搜索收款项目"
                                                        :options="payItemOptions"
                                                        :props="{ expandTrigger: 'hover' }"
                                                        @change="handlePayItem"
                                                        clearable
                                                        filterable
                                                        style="width:100%">
                                                </el-cascader>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="8" :style="extendDisplay">
                                            <el-form-item label="选择师傅" :style="decoratorDisplay">
                                                <el-select v-model="decoratorIds" multiple filterable placeholder="请选择" style="width:100%">
                                                    <el-option
                                                            v-for="decorator in decorators"
                                                            :key="decorator.decoratorId"
                                                            :label="decorator.name"
                                                            :value="decorator.decoratorId">
                                                    </el-option>
                                                </el-select>
                                            </el-form-item>
                                            <el-form-item label="供应品牌" :style="brandDisplay">
                                                <el-select v-model="brandIds"  multiple filterable placeholder="请选择" style="width:100%">
                                                    <el-option
                                                            v-for="brand in brands"
                                                            :key="brand.id"
                                                            :label="brand.name"
                                                            :value="brand.id">
                                                    </el-option>
                                                </el-select>
                                            </el-form-item>
                                            <el-form-item label="选择员工" :style="employeeDisplay">
                                                <org-selectemployee mode="priv" v-model="employeeIds" ref="selectEmployees" :multi="true"></org-selectemployee>
                                            </el-form-item>
                                            <el-form-item label="选择公司" :style="companyDisplay">
                                                <org-orgtree :org-id.sync="companyIds" :org-name.sync="companyNames" :org-type="2" mode="multi"></org-orgtree>
                                            </el-form-item>
                                            <el-form-item label="选择门店" :style="shopDisplay">
                                                <org-orgtree :org-id.sync="shopIds" :org-name.sync="shopNames" :org-type="4" mode="multi"></org-orgtree>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span = "8">
                                            <el-button type="primary" @click="addPayItem">添加收款项</el-button>
                                        </el-col>
                                    </el-row>
                                </el-form>
                                <vxe-table
                                        border
                                        resizable
                                        ref="payItem"
                                        show-footer
                                        show-overflow
                                        highlight-hover-row
                                        :auto-resize="true"
                                        :data="payItems"
                                        :edit-rules="validRules"
                                        :footer-method="footerMethod"
                                        :edit-config="{trigger: 'click', mode: 'cell'}">
                                    <vxe-table-column field="payItemName" title="收款项"></vxe-table-column>
                                    <vxe-table-column field="money" title="应付金额（单位：元）" width="200"
                                                      :edit-render="{name: 'input', attrs: {type: 'number'}}"></vxe-table-column>
                                    <vxe-table-column title="操作" width="100" show-overflow>
                                        <template v-slot="{ row }">
                                            <el-button
                                                    size="mini"
                                                    type="danger"
                                                    icon="el-icon-delete"
                                                    @click="deletePayItem(row)">删除
                                            </el-button>
                                        </template>
                                    </vxe-table-column>
                                </vxe-table>
                                <el-divider><i class="el-icon-money"></i>收款方式</el-divider>
                                <vxe-table
                                        border
                                        resizable
                                        ref="payMoney"
                                        show-footer
                                        show-overflow
                                        highlight-hover-row
                                        :auto-resize="true"
                                        :data="payments"
                                        :footer-method="footerMethod"
                                        :edit-config="{trigger: 'click', mode: 'cell'}">
                                    <vxe-table-column field="paymentTypeName" width="200" title="收款类型"></vxe-table-column>
                                    <vxe-table-column field="paymentName" title="付款方式"></vxe-table-column>
                                    <vxe-table-column field="money" title="付款金额（单位：元）"
                                                      :edit-render="{name: 'input', attrs: {type: 'number'}}"></vxe-table-column>
                                </vxe-table>
                                <br/>
                            </div>
                            <el-row>
                                <el-col :span="24">
                                    <el-form ref="payForm" :model="payForm" label-width="80px">
                                        <el-form-item label="收款摘要" prop="auditRemark" label-width="100px">
                                            <el-input type="textarea" v-model="auditRemark"></el-input>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="8" v-if="auditStatus == ''">
                                    <el-button type="primary" @click="submit">提交</el-button>
                                </el-col>
                                <el-col :span="12" v-if="auditStatus == '2'">
                                    <el-button type="primary" @click="submitForUpdate">重新复核</el-button>
                                </el-col>

                            </el-row>
                        </el-card>

                        </el-card>
                    </div>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
<style>
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .box-card {
        margin-bottom: 12px;
    }

    .el-card__header {
        padding: 10px;
    }
    [v-cloak] {
        display: none;
    }
</style>
<script src="static/js/modules/bss/order/finance/cashier/non.business.collection.js"
        th:src="@{static/js/modules/bss/order/finance/cashier/non.business.collection.js(v=${version})}"></script>
</body>
</html>