<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>主材查询</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--    <link rel="stylesheet" href="../../../../static/element-ui/css/index.css" th:href="@{static/element-ui/css/index.css(v=${version})}">-->
<!--    <script src="../../../../static/js/framework/requirejs/require.min.js" th:src="@{static/js/framework/requirejs/require.min.js(v=${version})}"></script>-->
<!--    <script src="../../../../static/js/framework/requirejs/require.config.js" th:src="@{static/js/framework/requirejs/require.config.js(v=${version})}"></script>-->

    <link rel="stylesheet" href="../../../../static/element-ui/css/index.css" th:href="@{static/element-ui/css/index.css(v=${version})}">
    <script src="../../../../static/js/framework/vue/vue.min.js" th:src="@{static/js/framework/vue/vue.min.js(v=${version})}"></script>
    <script src="../../../../static/element-ui/js/index.js" th:src="@{static/element-ui/js/index.js(v=${version})}"></script>
    <script src="../../../../static/js/framework/axios/axios.min.js" th:src="@{static/js/framework/axios/axios.min.js(v=${version})}"></script>
</head>
<body>
<div id="app">

    <el-card>
        <el-collapse value="1"  accordion>
            <el-collapse-item title="查询条件" name="1">
                <el-form ref="form" inline="true" label-width="80px">
                    <el-row>
                        <el-col :span="4">
                            <el-form-item>
                                <el-input placeholder="合同编号"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="4">
                            <el-form-item>
                                <el-input placeholder="客户姓名"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="4">
                            <el-form-item>
                                <el-select placeholder="楼盘名称">
                                    <el-option label="区域一" value="shanghai"></el-option>
                                    <el-option label="区域二" value="beijing"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="4">
                            <el-form-item>
                                <el-select placeholder="店名">
                                    <el-option label="区域一" value="shanghai"></el-option>
                                    <el-option label="区域二" value="beijing"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="4">
                            <el-form-item>
                                <el-select placeholder="客户代表">
                                    <el-option label="区域一" value="shanghai"></el-option>
                                    <el-option label="区域二" value="beijing"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="4">
                            <el-form-item>
                                <el-select placeholder="设计师">
                                    <el-option label="区域一" value="shanghai"></el-option>
                                    <el-option label="区域二" value="beijing"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>

                    <el-row>
                        <el-col :span="4">
                            <el-form-item>
                                <el-select placeholder="家装顾问">
                                    <el-option label="区域一" value="shanghai"></el-option>
                                    <el-option label="区域二" value="beijing"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="4">
                            <el-form-item>
                                <el-select placeholder="项目经理">
                                    <el-option label="区域一" value="shanghai"></el-option>
                                    <el-option label="区域二" value="beijing"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>

                        <el-col :span="4">
                            <el-form-item>
                                <el-select placeholder="主材管家">
                                    <el-option label="区域一" value="shanghai"></el-option>
                                    <el-option label="区域二" value="beijing"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>

                        <el-col :span="4">
                            <el-form-item>
                                <el-select placeholder="品牌">
                                    <el-option label="区域一" value="shanghai"></el-option>
                                    <el-option label="区域二" value="beijing"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>

                        <el-col :span="4">
                            <el-form-item>
                                <el-select placeholder="橱柜设计师">
                                    <el-option label="区域一" value="shanghai"></el-option>
                                    <el-option label="区域二" value="beijing"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>

                    </el-row>

                    <el-row>
                        <el-col :span="8">
                            <el-date-picker
                                    type="daterange"
                                    align="right"
                                    unlink-panels
                                    range-separator="至"
                                    start-placeholder="收款日期（开始）"
                                    end-placeholder="收款日期（结束）">
                            </el-date-picker>
                        </el-col>

                        <el-col :span="6">
                            <el-button type="primary" icon="el-icon-search">查 询</el-button>
                        </el-col>
                    </el-row>

                </el-form>
            </el-collapse-item>
        </el-collapse>


        <el-divider></el-divider>
        <div>
            <el-button type="primary" @click="save()" style="margin:10px;">保存修改</el-button>
            <el-button type="primary" @click="$refs.xTable.revertData()" plain>全部还原</el-button>

            <vxe-table
                    size="small"
                    keep-source
                    stripe
                    highlight-current-row
                    highlight-hover-row
                    border
                    resizable
                    show-overflow
                    height="340"
                    show-footer
                    :footer-method="footerMethod"
                    :data="tableData"
                    :edit-rules="validRules"
                    :edit-config="{trigger: 'dblclick', mode: 'row'}"
                    ref="xTable">
                <vxe-table-column align="center" width="60" type="seq"></vxe-table-column>
                <vxe-table-column align="center" width="120" field="custNo" title="客户编号" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                <vxe-table-column align="center" width="120" field="contactNo" title="合同编号" :edit-render="{name: 'select', options: sexList, events: {change: changeEvent}}"></vxe-table-column>
                <vxe-table-column align="center" width="120" field="custName" title="客户姓名" :edit-render="{name: 'select', options: statusList}"></vxe-table-column>
                <vxe-table-column align="center" width="120" field="brand" title="品牌" :edit-render="{name: 'input', attrs: {type: 'number'}}"></vxe-table-column>
                <vxe-table-column align="right" width="120" field="contractAmount" title="合同金额" :edit-render="{name: 'input', attrs: {type: 'date', format: 'yyyy-MM-dd'}}"></vxe-table-column>
                <vxe-table-column align="right" width="120" field="discountedPrice" title="优惠金额" :edit-render="{name: 'input', attrs: {type: 'number'}}" :formatter="['toFixedString', 2]"></vxe-table-column>
                <vxe-table-column align="right" width="120" field="totalReceivable" title="应收合计" :edit-render="{name: 'input', attrs: {type: 'text'}}" :formatter="['commafy', {spaceNumber: 4, separator: ' '}]"></vxe-table-column>
                <vxe-table-column align="right" width="120" field="custNo" title="实收款" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                <vxe-table-column align="right" width="120" field="custNo" title="差额" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                <vxe-table-column align="left" width="120" field="custNo" title="备注" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                <vxe-table-column align="center" width="120" field="custNo" title="算户时间" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                <vxe-table-column align="center" width="120" field="custNo" title="算户年份" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                <vxe-table-column align="left" width="120" field="custNo" title="店名" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                <vxe-table-column align="left" width="120" field="custNo" title="楼盘地址" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                <vxe-table-column align="center" width="120" field="custNo" title="设计师" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                <vxe-table-column align="center" width="120" field="custNo" title="客户代表" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                <vxe-table-column align="center" width="120" field="custNo" title="项目经理" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                <vxe-table-column align="center" width="120" field="custNo" title="家装顾问" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                <vxe-table-column align="center" width="120" field="custNo" title="款项" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                <vxe-table-column align="center" width="120" field="custNo" title="类别" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                <vxe-table-column align="center" width="120" field="custNo" title="橱柜设计师" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                <vxe-table-column align="center" width="120" field="custNo" title="主材管家" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                <vxe-table-column align="center" width="120" field="custNo" title="下预订单时间" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                <vxe-table-column align="center" width="120" field="custNo" title="下订单时间" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                <vxe-table-column align="center" width="120" field="custNo" title="送货时间" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                <vxe-table-column align="center" width="120" field="custNo" title="安装时间" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                <vxe-table-column align="center" width="120" field="custNo" title="跟单时间" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                <vxe-table-column align="center" width="120" field="custNo" title="提成时间" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                <vxe-table-column align="right" width="120" field="custNo" title="跟单情况" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
            </vxe-table>
        </div>
    </el-card>

</div>
<style>
    [v-cloak] {
        display: none;
    }

</style>
<script src="../../../../static/js/modules/bss/supply/main_material_query.js" th:src="@{static/js/modules/bss/supply/main_material_query.js(v=${version})}"></script>
</body>

</html>