<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>dolphin-admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="static/js/framework/requirejs/require.min.js"
            th:src="@{static/js/framework/requirejs/require.min.js(v=${version})}"></script>
    <script src="static/js/framework/requirejs/require.config.js"
            th:src="@{static/js/framework/requirejs/require.config.js(v=${version})}"></script>
</head>
<body>
<div id="app" v-cloak>
    <el-container>
        <el-main>
            <el-card class="box-card">
                <el-collapse value="1" accordion>
                    <el-collapse-item title="查询条件" name="1">
                        <el-form inline="false" label-width="80px" label-position="right" :model="queryCond">
                            <el-row>
                                <el-col :span="8">
                                    <el-form-item label="客户姓名">
                                        <el-input v-model="queryCond.custName" placeholder="请输入客户姓名"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8">
                                    <el-form-item label="楼盘">
                                        <house-select v-model="queryCond.houseId" placeholder="楼盘"></house-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8">
                                    <el-form-item label="客户代表">
                                        <order-selectemployee role-id="15"
                                                              v-model="queryCond.agentEmployeeId"></order-selectemployee>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="8">
                                    <el-form-item label="设计师">
                                        <order-selectemployee role-id="30"
                                                              v-model="queryCond.designEmployeeId"></order-selectemployee>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8">
                                    <el-form-item label="项目经理">
                                        <order-selectemployee role-id="33"
                                                              v-model="queryCond.projectEmployeeId"></order-selectemployee>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8">
                                    <el-form-item label="主材管家">
                                        <order-selectemployee role-id="46"
                                                              v-model="queryCond.mainMaterialEmployeeId"></order-selectemployee>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="8">
                                    <el-form-item label="品牌">
                                        <el-select filterable placeholder="品牌">
                                            <el-option label="区域一" value="shanghai"></el-option>
                                            <el-option label="区域二" value="beijing"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <!--<el-col :span="8">
                                    <el-form-item label="开始时间">
                                        <el-date-picker
                                                v-model="queryCond.startTime"
                                                type="date"
                                                value-format="yyyy-MM-dd"
                                                placeholder="收款开始时间"
                                                style="width:100%">
                                        </el-date-picker>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8">
                                    <el-form-item label="结束时间">
                                        <el-date-picker
                                                v-model="queryCond.endTime"
                                                type="date"
                                                value-format="yyyy-MM-dd"
                                                placeholder="收款结束时间"
                                                style="width:100%">
                                        </el-date-picker>
                                    </el-form-item>
                                </el-col>-->
                                <el-col :span="8">
                                    <el-button type="primary" icon="el-icon-search" @click="query">查 询</el-button>
                                </el-col>
                            </el-row>
                            <el-row>
<!--                                <el-col :span="8">
                                    <el-button type="primary" icon="el-icon-search" @click="query">查 询</el-button>
                                </el-col>-->
                            </el-row>
                        </el-form>
                    </el-collapse-item>
                </el-collapse>
            </el-card>

            <template>
                <vxe-table
                        size="small"
                        keep-source
                        stripe
                        highlight-current-row
                        highlight-hover-row
                        border
                        resizable
                        show-overflow
                        height="500"
                        :data="tableData"
                        :edit-rules="validRules"
                        :edit-config="{trigger: 'dblclick', mode: 'row'}"
                        ref="xTable">
                    <vxe-table-column align="center" width="150" fixed="left" field="custNo" title="客户编号"></vxe-table-column>
                    <vxe-table-column align="center" width="150" fixed="left" field="custName" title="客户姓名"></vxe-table-column>
                    <vxe-table-column align="center" width="120" fixed="left" field="brandCodeName" title="品牌"></vxe-table-column>
                    <vxe-table-column align="center" width="120" field="contractFee" title="合同金额" :edit-render="{name: '$input',immediate: true, props: {type: 'number'}}" :formatter="['toFixedString', 2]"></vxe-table-column>
                    <vxe-table-column align="center" width="120" field="discountFee" title="优惠金额" :edit-render="{name: '$input',immediate: true, props: {type: 'number'}}" :formatter="['toFixedString', 2]"></vxe-table-column>
                    <vxe-table-column align="center" width="120" field="remark" title="优惠备注" :edit-render="{name: 'textarea'}"></vxe-table-column>
                    <vxe-table-column align="center" width="120" field="totalReceivable" title="应收合计" :formatter="['toFixedString', 2]">
                        <template v-slot="{ row }">
                            <span>{{ countContractFee(row) }}</span>
                        </template>
                    </vxe-table-column>
                    <vxe-table-column align="center" width="120" field="actualFee" title="实收款" :formatter="['toFixedString', 2]"></vxe-table-column>
                    <vxe-table-column align="center" width="120" field="difference" title="差额" :formatter="['toFixedString', 2]">
                        <template v-slot="{ row }">
                            <span>{{ countDifference(row) }}</span>
                        </template>
                    </vxe-table-column>
                    <vxe-table-column align="center" width="120" field="shopName" title="店名"></vxe-table-column>
                    <vxe-table-column align="center" width="120" field="houseName" title="楼盘地址"></vxe-table-column>
                    <vxe-table-column align="center" width="120" field="designName" title="设计师"></vxe-table-column>
                    <vxe-table-column align="center" width="120" field="agentName" title="客户代表"></vxe-table-column>
                    <vxe-table-column align="center" width="120" field="projectManageName" title="项目经理"></vxe-table-column>
                    <vxe-table-column align="center" width="120" field="feeTypeName" title="款项"></vxe-table-column>
                    <vxe-table-column align="center" width="120" field="kindName" title="类别"></vxe-table-column>
                    <vxe-table-column align="center" width="120" field="cabinetDesignerName" title="橱柜设计师"></vxe-table-column>
                    <vxe-table-column align="center" width="120" field="mainMaterialName" title="主材管家"></vxe-table-column>
                    <vxe-table-column align="center" width="120" field="bookTime" title="下预订单时间"></vxe-table-column>
                    <vxe-table-column align="center" width="120" field="orderTime" title="下订单时间"></vxe-table-column>
                    <vxe-table-column align="center" width="120" field="deliveryTime" title="送货时间"></vxe-table-column>
                    <vxe-table-column align="center" width="120" field="installationTime" title="安装时间"></vxe-table-column>
                    <vxe-table-column align="center" width="120" field="followBillTime" title="跟单时间"></vxe-table-column>
                    <vxe-table-column align="center" width="120" field="deductTime" title="提成时间"></vxe-table-column>
                    <vxe-table-column align="center" width="120" field="followBillDesc" title="跟单情况"></vxe-table-column>
                    <vxe-table-column align="center" title="操作" width="160" fixed="right">
                        <template v-slot="{ row }">
                            <template v-if="$refs.xTable.isActiveByRow(row)">
                                <vxe-button @click="saveRowEvent(row)">保存</vxe-button>
                                <vxe-button @click="cancelRowEvent(row)">取消</vxe-button>
                            </template>
                            <template v-else>
                                <vxe-button @click="editRowEvent(row)">编辑</vxe-button>
                                <vxe-button @click="getDetail(row)">详情</vxe-button>
                            </template>
                        </template>
                    </vxe-table-column>
                </vxe-table>
            </template>
        </el-main>
        <vxe-modal v-model="showDetails" title="收款流水账" width="1200" min-width="600" height="600"  resize destroy-on-close>
            <template v-slot>
                <vxe-table
                        border="inner"
                        auto-resize
                        show-overflow
                        highlight-hover-row
                        height="auto"
                        :sync-resize="showDetails"
                        :data="detailData">
                    <vxe-table-column align="center" width="150" fixed="left" field="payTime" title="收款时间"></vxe-table-column>
                    <vxe-table-column align="center" width="150" fixed="left" field="periodsName" title="期数"></vxe-table-column>
                    <vxe-table-column align="center" width="150" fixed="left" field="feeTypeName" title="款项"></vxe-table-column>
                    <vxe-table-column align="center" width="150" fixed="left" field="brandCodeName" title="品牌"></vxe-table-column>
                    <vxe-table-column align="center" width="150" fixed="left" field="fee" title="金额" :formatter="['toFixedString', 2]"></vxe-table-column>
                    <vxe-table-column align="center" width="150" fixed="left" field="agentName" title="客户代表"></vxe-table-column>
                    <vxe-table-column align="center" width="150" fixed="left" field="designName" title="设计师"></vxe-table-column>
                    <vxe-table-column align="center" width="150" fixed="left" field="cabinetDesignerName" title="橱柜设计师"></vxe-table-column>
                    <vxe-table-column align="center" width="150" fixed="left" field="remark" title="备注"></vxe-table-column>
                </vxe-table>
            </template>
        </vxe-modal>
    </el-container>
</div>
<style>
    [v-cloak] {
        display: none;
    }
</style>
<script src="../../../../static/js/modules/bss/supply/cabinet_query.js"
        th:src="@{static/js/modules/bss/supply/cabinet_query.js(v=${version})}"></script>
</body>

</html>