server:
  port: 8080
  servlet.context-path: /hirun
  servlet:
    session:
      timeout: PT1H
      cookie:
        name: HIRUN_SID

# 日志
logging:
  level:
    root: info
    com.atomikos.jdbc.nonxa.AtomikosThreadLocalConnection: debug
    com.baomidou.dynamic.datasource: debug
    com.baomidou.mybatisplus: info
    com.microtomato.hirun: debug
    com.microtomato.hirun.framework.filter: info
    com.microtomato.hirun.framework.interceptor: info
    com.microtomato.hirun.framework.transaction: debug

# 生产 Web 这个开关是关闭的，后台 Task 进程会在命令行设置该参数为 true
scheduling.enabled: true

# 是否为生产模式
production.mode: false

spring:
  datasource:
    atomikos:
      sys:
        uniqueResourceName: sys
        driverClassName: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://39.106.228.124:3306/sys?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=GMT%2B8
        user: sys
        password: 1q1w1e1r
        minPoolSize: 2
        maxPoolSize: 5
        maxIdleTime: 60
        maxLifetime: 1200
        maintenanceInterval: 60

      ins:
        uniqueResourceName: ins
        driverClassName: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://39.106.228.124:3306/ins?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=GMT%2B8
        user: ins
        password: 1q1w1e1r
        minPoolSize: 2
        maxPoolSize: 5
        maxIdleTime: 60
        maxLifetime: 1200
        maintenanceInterval: 60

  cache:
    # 指定缓存类型: none(禁用缓存), simple(用于开发), redis（用于生产）
    type: simple

  redis:
    timeout: 1000
    host: 127.0.0.1
    port: 6379

  # thymeleaf 模板配置
  thymeleaf:
    cache: false # 开发模式下设置为 false，避免改了模板还要重启服务器，线上设置为 true，可以提高性能。

  devtools:
    restart:
      enabled: true
      additional-paths: src/main/java
      exclude: static/**

  session:
    # session 的存储方式，开发模式（本地）：none，生产模式（分布式缓存）：redis
    store-type: none
    timeout: 1800