<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>dolphin-admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layui/css/layui.css" th:href="@{static/layui/css/layui.css(v=${version})}" media="all">
    <link rel="stylesheet" href="/static/css/admin.css" th:href="@{static/css/admin.css(v=${version})}" media="all">
    <link rel="stylesheet" href="/static/css/template.css" th:href="@{static/css/template.css(v=${version})}" media="all">
    <script src="../static/layui/layui.js" th:src="@{static/layui/layui.js(v=${version})}"></script>
    <script src="../static/js/base.js" th:src="@{static/js/base.js(v=${version})}"></script>
    <style>
        .layui-form-label {
            width: 65px;
        }

        .layui-form-label.layui-required:before {
            content: "*";
            color: #FF5722;
        }

        .layui-input-block {
            margin-left: 95px;
        }

    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form" lay-filter="approve-confirm-form" id="approve-confirm-form"
                 style="padding: 20px 30px 0 0;">
                <div class="layui-form-item">
                    <input type="hidden" name="employeeId" id="employeeId" autocomplete="off" class="layui-input" readonly>
                    <input type="hidden" name="id" id="id" autocomplete="off" class="layui-input" readonly>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">审核：</label>
                    <div class="layui-input-block" style="">
                        <select name="approveStatus" id="approveStatus" required="true">
                            <option value="1" selected>审核通过</option>
                            <option value="2">审核不通过</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item layui-hide">
                    <input type="button" lay-submit lay-filter="confirm-submit" id="confirm-submit"
                           value="确定">
                    <input type="button" lay-submit lay-filter="cancle-submit" id="cancle-submit"
                           value="取消">
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    layui.extend(
        {
            approveEmployeeBlackList: "{/}static/js/modules/organization/hr/approve.employee.blackList"
        }).use('approveEmployeeBlackList', function () {
        layui.approveEmployeeBlackList.init();
    })
</script>
</body>
</html>