<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>dolphin-admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" href="/static/css/admin.css" th:href="@{/css/admin.css}" media="all">
    <script src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
    <script src="../static/js/base.js" th:src="@{js/base.js}"></script>
    <style>
        .layui-form-label{
            width: 65px;
        }
        .layui-form-label.layui-required:before{
            content:"*";
            color:#FF5722;
        }
        .layui-input-block {
            margin-left: 95px;
        }
        .layui-card-body {
            margin: 0px
        }

    </style>
</head>
<body>
    <div class="layui-fluid">
        <form class="layui-form" id="staff_form">
            <div class="layui-card">
                <div class="layui-tab layui-tab-brief" lay-filter="employeeTab">
                    <ul class="layui-tab-title">
                        <li class="layui-this">基本信息</li>
                        <li>岗位信息</li>
                        <li>教育信息</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <div class="layui-form-item">
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label layui-required">姓名</label>
                                <div class="layui-input-block">
                                    <input type="text" name="name" required  lay-verify="required" placeholder="请输入员工" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-required">手机号码</label>
                                <div class="layui-input-block">
                                    <input type="text" name="mobile_no" required lay-verify="required" placeholder="请输入手机号码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-required">身份证</label>
                                <div class="layui-input-block">
                                    <input type="text" name="identity_no" required lay-verify="required" placeholder="请输入身份证号码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-required">性别</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="sex" value="男" title="男" checked disabled>
                                    <input type="radio" name="sex" value="女" title="女" disabled>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-required">生日类型</label>
                                <div class="layui-input-block">
                                    <div class="layui-form" lay-filter="birthdayType">
                                        <select id="birthdayType" name="birthdayType" lay-verify="required">

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-required">生日</label>
                                <div class="layui-input-block">
                                    <input type="text" id="birthday" name="birthday" required  lay-verify="required" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">户籍地址</label>
                                <div class="layui-input-block">
                                    <div class="layui-inline">
                                        <div class="layui-form">
                                            <select id="province" name="province" lay-verify="required">

                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <div class="layui-form">
                                            <select id="city" name="city" lay-verify="required">

                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <div class="layui-form">
                                            <select id="area" name="area" lay-verify="required">

                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-show-xs-block">
                                        <input type="text" name="register_address" required lay-verify="required" placeholder="请输入户籍详细住址" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">现住址</label>
                                <div class="layui-input-block">
                                    <input type="text" name="home_address" required lay-verify="required" placeholder="请输入家庭住址" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-tab-item">
                            <div class="layui-form-item">
                                <label class="layui-form-label">归属部门</label>
                                <div class="layui-input-block">
                                    <input type="text" id="orgId" name="orgId" onclick="layui.employee.selectOrg();" placeholder="请点击选择部门" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">职位</label>
                                <div class="layui-input-block">
                                    <input type="text" name="position" placeholder="请输入身份证号码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">职级</label>
                                <div class="layui-input-block">
                                    <select name="job_grade" >

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-tab-item">
                            <div class="layui-form-item">
                                <label class="layui-form-label">最高学历</label>
                                <div class="layui-input-block">
                                    <div class="layui-form" lay-filter="educationLevel">
                                        <select id="educationLevel" name="educationLevel" lay-verify="required">

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">毕业院校</label>
                                <div class="layui-input-block">
                                    <input type="text" name="school" required lay-verify="required" placeholder="请输入毕业院校" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">专业</label>
                                <div class="layui-input-block">
                                    <input type="text" name="major" required lay-verify="required" placeholder="请输入专业名称" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                        <div class="layui-tab-item">4</div>
                        <div class="layui-tab-item">5</div>
                        <div class="layui-tab-item">6</div>
                        <div>
                            <button id="next" class="layui-btn layui-btn-lg" lay-submit lay-filter="btnSubmit">下一步</button>
                            <button id="btnSubmit" class="layui-btn layui-btn-danger layui-btn-lg" lay-submit lay-filter="btnSubmit">立即提交</button>
                        </div>
                    </div>

                </div>

            </div>
        </form>
    </div>
    <div id="orgTree" style="display:none">

    </div>
    <script>
        layui.extend(
            {
                employee : "{/}js/modules/organization/employee/create.employee"
            }
        ).use('employee',function(args){
            layui.employee.init();
        });
    </script>
</body>
</html>