<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <title>dolphin-admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layui/css/layui.css" th:href="@{static/layui/css/layui.css(v=${version})}" media="all">
    <link rel="stylesheet" href="/static/css/admin.css" th:href="@{static/css/admin.css(v=${version})}" media="all">
    <script src="../static/layui/layui.js" th:src="@{static/layui/layui.js(v=${version})}"></script>
    <script src="../static/js/base.js" th:src="@{static/js/base.js(v=${version})}"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">员工档案列表</div>
        <div class="layui-card-body">
            <form class="layui-form" id="query_form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" id="name" autocomplete="off" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">电话号码</label>
                        <div class="layui-input-inline" style="">
                            <input type="text" name="mobileNo" id="mobileNo" autocomplete="off" class="layui-input"
                                   placeholder=""/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">部门</label>
                        <div class="layui-input-inline">
                            <input type="text" id="orgPath" name="orgPath" onclick="layui.employee.selectOrg();"
                                   placeholder="请点击选择部门" autocomplete="off" class="layui-input"/>
                            <input type="hidden" id="orgId" name="orgId"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-inline">
                            <div class="layui-form" lay-filter="sex">
                                <select id="sex" name="sex">

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-inline">
                            <div class="layui-form" lay-filter="employeeStatus">
                                <select id="employeeStatus" name="employeeStatus">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">员工类型</label>
                        <div class="layui-input-inline">
                            <div class="layui-form" lay-filter="type">
                                <select id="type" name="type">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">岗位</label>
                        <div class="layui-input-inline">
                            <div class="layui-form" lay-filter="jobRole">
                                <select id="jobRole" name="jobRole" lay-verify="required" lay-search>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">岗位性质</label>
                        <div class="layui-input-inline">
                            <div class="layui-form" lay-filter="jobRoleNature">
                                <select id="jobRoleNature" name="jobRoleNature" lay-verify="required" lay-filter="jobRoleNature">

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="more" style="display:none">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">异动状态</label>
                            <div class="layui-input-inline">
                                <select name="otherStatus" id="otherStatus">
                                    <option value="">请选择</option>
                                    <option value="1">休假</option>
                                    <option value="2">借调</option>
                                    <option value="3">调出</option>
                                    <option value="4">内部调动</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">永不录用</label>
                            <div class="layui-input-inline">
                                <div class="layui-form" lay-filter="isBlackList">
                                    <select id="isBlackList" name="isBlackList">

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">折算比例</label>
                            <div class="layui-input-inline">
                                <select name="discountRate" id="discountRate">
                                    <option value="">请选择</option>
                                    <option value="0">0</option>
                                    <option value="0.5">0.5</option>
                                    <option value="1">1</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">工作年限</label>
                            <div class="layui-input-inline" style="width: 82px;">
                                <input type="text" name="jobYearStart" id="jobYearStart" autocomplete="off" class="layui-input" lay-verify="number">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 82px;">
                                <input type="text" name="jobYearEnd" id="jobYearEnd" autocomplete="off" class="layui-input" lay-verify="number">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">年龄</label>
                            <div class="layui-input-inline" style="width: 82px;">
                                <input type="text" name="ageStart" id="ageStart" autocomplete="off" class="layui-input" lay-verify="number">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 82px;">
                                <input type="text" name="ageEnd" id="ageEnd" autocomplete="off" class="layui-input" lay-verify="number">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">司龄</label>
                            <div class="layui-input-inline" style="width: 82px;">
                                <input type="text" name="companyAgeStart" id="companyAgeStart" autocomplete="off" class="layui-input" lay-verify="number">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 82px;">
                                <input type="text" name="companyAgeEnd" id="companyAgeEnd" autocomplete="off" class="layui-input" lay-verify="number">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">入职时间</label>
                            <div class="layui-input-inline" style="width: 82px;">
                                <input type="text" name="inDateStart" id="inDateStart" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 82px;">
                                <input type="text" name="inDateEnd" id="inDateEnd" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-inline">
                                <label class="layui-form-label">离职时间</label>
                                <div class="layui-input-inline" style="width: 82px;">
                                    <input type="text" name="destroyDateStart" id="destroyDateStart" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid">-</div>
                                <div class="layui-input-inline" style="width: 82px;">
                                    <input type="text" name="destroyDateEnd" id="destroyDateEnd" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item" style="">
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            <button class="layui-btn" type="button" id="queryEmployee"><i
                                    class="layui-icon">&#xe615;</i>查询
                            </button>
                        </label>
                    </div>
                    <div class="layui-inline" >
                        <label class="layui-form-label" id="appear">
                            <button class="layui-btn layui-btn-xs" style="background:#ea986c" type="button"
                                    id="showMoreCondition" onclick="layui.employee.moreCondition('appear');"><i
                                    class="layui-icon layui-icon-down"></i>更多
                            </button>
                        </label>
                        <label class="layui-form-label" style="display: none" id="conceal">
                            <button class="layui-btn layui-btn-xs" style="background:#ea986c" type="button"
                                    id="hideMoreCondition" onclick="layui.employee.moreCondition('conceal');"><i
                                    class="layui-icon layui-icon-up"></i>收起
                            </button>
                        </label>
                    </div>
                </div>
            </form>
            <div id="orgTree" style="display:none">

            </div>
            <table lay-even class="layui-hide" id="employee_table" lay-filter="employee_table" lay-size="lg"></table>
        </div>
    </div>


</div>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn " style="background-color:#9e2d09;" sec:authorize="hasAuthority('EMPLOYEE_CREATE')" lay-event="create"><i class="layui-icon">&#xe608;</i>新增</button>
        <button class="layui-btn layui-btn-normal" lay-event="edit" sec:authorize="hasAuthority('EMPLOYEE_EDIT')"><i class="layui-icon layui-icon-edit"></i>编辑</button>
        <button class="layui-btn layui-btn-danger" lay-event="remove" sec:authorize="hasAuthority('EMPLOYEE_DESTORY')"><i class="layui-icon layui-icon-delete"></i>离职</button>
        <button class="layui-btn layui-btn-warm" lay-event="holiday" sec:authorize="hasAuthority('EMPLOYEE_HOLIDAY')"><i class="layui-icon layui-icon-log"></i>休假</button>
        <button class="layui-btn" style="background-color:#13227a;" lay-event="transOrg" sec:authorize="hasAuthority('EMPLOYEE_TRANS')"><i class="layui-icon">&#x21c4;</i>调动</button>
        <button class="layui-btn " style="background-color:#e87233;" lay-event="contract" sec:authorize="hasAuthority('EMPLOYEE_CONTRACT')"><i class="layui-icon layui-icon-templeate-1"></i>合同</button>
        <button class="layui-btn" lay-event="export" sec:authorize="hasAuthority('EXPORT_EMPLOYEE')"><i class="layui-icon layui-icon-download-circle"></i>导出</button>
        <button class="layui-btn" lay-event="applyBlackList" sec:authorize="hasAuthority('EMPLOYEE_DESTORY')"><i class="layui-icon layui-icon-friends"></i>黑名单申请</button>
    </div>
</script>

<script type="text/html" id="templetArchive">
    <a href="#" onclick="layui.employee.loadEmployeeArchive('{{d.employeeId}}','{{d.name}}');" class="layui-table-link">{{d.name}}</a>
</script>

<script>
    layui.extend(
        {
            employee: "{/}static/js/modules/organization/employee/query.employee"
        }).use('employee', function () {
        layui.employee.init();
    })
</script>
</body>
</html>