<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>设计费查询</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="static/js/framework/requirejs/require.min.js" th:src="@{static/js/framework/requirejs/require.min.js(v=${version})}"></script>
    <script src="static/js/framework/requirejs/require.config.js" th:src="@{static/js/framework/requirejs/require.config.js(v=${version})}"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-main>
            <el-row>
                <el-card class="box-card" shadow="hover">
                    <div slot="header" class="clearfix">
                        <span>查询条件区</span>
                    </div>
                    <el-form :inline="false" :model="queryCond" label-position="right" label-width="80px">
                        <el-row>
                            <el-col :span="8">
                                <el-form-item label="客户姓名">
                                    <el-input v-model="queryCond.custName" placeholder="请输入客户姓名"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="客户电话">
                                    <el-input v-model="queryCond.mobileNo" placeholder="请输入联系电话"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="归属楼盘">
                                    <house-select v-model="queryCond.housesId"></house-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="8">
                                <el-form-item label="归属店面">
                                    <org-orgtree :org-id.sync="queryCond.orgIds" :org-name.sync="queryCond.orgName" mode="multi"></org-orgtree>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="筛选条件">
                                    <vue-select code-type="DESIGN_FEE_QUERY" v-model="queryCond.condition"></vue-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="报备人员">
                                    <order-selectemployee role-id="555" v-model="queryCond.report"  ></order-selectemployee>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="8">
                                <el-form-item label="客户代表">
                                    <order-selectemployee role-id="15" v-model="queryCond.agent"  ></order-selectemployee>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="设计师">
                                    <order-selectemployee role-id="30" v-model="queryCond.designer"  ></order-selectemployee>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="交款时间">
                                    <el-date-picker
                                            v-model="queryCond.feeTime"
                                            type="daterange"
                                            format="yyyy-MM-dd"
                                            value-format="yyyy-MM-dd"
                                            align="right"
                                            unlink-panels
                                            range-separator="至"
                                            start-placeholder="开始日期"
                                            end-placeholder="结束日期"
                                            style="width:100%"
                                            :picker-options="pickerOptions">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>

                            <el-col :span="8">
                                <el-form-item>
                                    <el-button type="primary" @click="query">查询</el-button>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                </el-card>
            </el-row>
            <el-row>
                <el-card class="box-card" shadow="hover">
                    <vxe-table
                            border
                            resizable
                            ref="designFeeTable"
                            show-overflow
                            highlight-hover-row
                            highlight-cell
                            keep-source
                            max-height="800px"
                            :auto-resize="true"
                            :data="designFees">
                        <vxe-table-column field="custNo" title="客户编号" sortable width="150" fixed="left"></vxe-table-column>
                        <vxe-table-column field="custName" title="客户姓名" sortable width="100" fixed="left"></vxe-table-column>
                        <vxe-table-column field="decorateAddress" title="地址" sortable width="200" fixed="left"></vxe-table-column>
                        <vxe-table-column field="orderStatusName" title="客户状态" sortable width="100"></vxe-table-column>
                        <vxe-table-column field="houseLayoutName" title="户型" sortable width="100" fixed="left"></vxe-table-column>
                        <vxe-table-column field="indoorArea" title="套内面积" sortable width="100"></vxe-table-column>
                        <vxe-table-column field="designFeeStandard" title="设计费标准" sortable width="120"></vxe-table-column>
                        <vxe-table-column field="designTheme" title="设计主题" width="120"></vxe-table-column>
                        <vxe-table-column field="depositFee" title="设计定金" width="100"></vxe-table-column>
                        <vxe-table-column field="feeTime" title="交费时间" width="180"></vxe-table-column>
                        <vxe-table-column field="designFee" title="实收设计费" width="180"></vxe-table-column>
                        <vxe-table-column field="remark" title="备注" width="100"></vxe-table-column>
                        <vxe-table-column field="signTime" title="签单时间" width="100"></vxe-table-column>
                        <vxe-table-column field="firstPayTime" title="首付时间" width="180"></vxe-table-column>
                        <vxe-table-column field="shopName" title="店名" width="100"></vxe-table-column>
                        <vxe-table-column field="depositFinanceName" title="财务员（定金）" sortable width="140"></vxe-table-column>
                        <vxe-table-column field="designFeeFinanceName" title="财务员（设计费）" sortable width="160"></vxe-table-column>
                        <vxe-table-column field="usualWorker.agentName" title="客户代表" sortable width="100"></vxe-table-column>
                        <vxe-table-column field="usualWorker.designerName" title="设计师" sortable width="100"></vxe-table-column>
                        <vxe-table-column field="usualWorker.counselorName" title="家装顾问" sortable width="100"></vxe-table-column>
                        <vxe-table-column field="usualWorker.cabinetName" title="橱柜设计师" sortable width="120"></vxe-table-column>
                        <vxe-table-column field="usualWorker.materialName" title="主材管家" sortable width="100"></vxe-table-column>
                        <vxe-table-column field="usualWorker.reportName" title="申报人" sortable width="100"></vxe-table-column>
                        <vxe-table-column field="contractTime" title="设计合同时间" sortable width="200"></vxe-table-column>
                    </vxe-table>
                    <div style="text-align: center">
                        <el-pagination
                                layout="total, prev, pager, next"
                                :total="queryCond.count"
                                :current-page.sync="queryCond.page"
                                :page-size="queryCond.limit"
                                @current-change="query">
                        </el-pagination>
                    </div>
                </el-card>
            </el-row>

        </el-main>
    </el-container>
</div>
<style>
    .text {
        font-size: 14px;
    }

    .box-card {
        margin-bottom: 12px;
    }

    .item {
        margin-bottom: 18px;
    }

    .el-card__header {
        padding:10px;
    }

    .modify_row {
        color: #ff4835;
    }

    .new_row {
        color: #4DAF29;
    }

    .delete_row {
        text-decoration:line-through;
    }
</style>
<script src="static/js/modules/bss/order/fee/query.design.fee.js" th:src="@{static/js/modules/bss/order/fee/query.design.fee.js(v=${version})}"></script>
</body>
</html>