<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>dolphin-admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="static/js/framework/requirejs/require.min.js"
            th:src="@{static/js/framework/requirejs/require.min.js(v=${version})}"></script>
    <script src="static/js/framework/requirejs/require.config.js"
            th:src="@{static/js/framework/requirejs/require.config.js(v=${version})}"></script>
</head>
<body>
<div id="customer_perparation" style="display:none" :style="display?display:''">
    <el-container>
        <el-main>
            <template>

                <el-form :inline="false" :rules="rules" label-position="right" label-width="80px" :model="customerPreparation" ref="customerPreparation">
                    <el-card class="box-card">
                        <div>
                            <el-divider content-position="left"><span style="font-weight: 700">客户信息</span></el-divider>
                        </div>
                        <el-row :gutter="20">
                            <el-col :span="6">
                                <el-form-item label="客户编号">
                                    <el-input v-model="customerPreparation.custNo" placeholder="客户编号" readonly></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="客户姓名" prop="custName">
                                    <el-input v-model="customerPreparation.custName" placeholder="客户姓名"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="客户电话"  prop="mobileNo">
                                    <el-input v-model="customerPreparation.mobileNo" placeholder="客户联系电话" @blur="loadPreparationHistory"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="房屋类型"  prop="houseMode">
                                    <vue-select code-type="HOUSE_MODE" v-model="customerPreparation.houseMode"></vue-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20">
                            <el-col :span="6">
                                <el-form-item label="房屋面积" prop="houseArea">
                                    <el-input-number v-model="customerPreparation.houseArea" :step="0.1" :max="5000" style="width: 220px"></el-input-number>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="装修地点" prop="houseId">
                                    <house-select v-model="customerPreparation.houseId"></house-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="楼栋"  prop="houseBuilding">
                                    <el-input v-model="customerPreparation.houseBuilding">
                                        <template slot="append">栋</template>
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="房间号"  prop="houseRoomNo">
                                    <el-input v-model="customerPreparation.houseRoomNo"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-card>

                    <el-card class="box-card">
                        <div>
                            <el-divider content-position="left"><span style="font-weight: 700">报备信息</span></el-divider>
                        </div>
                        <el-row :gutter="20">
<!--                            <el-col :span="6">
                                <el-form-item label="部门"  prop="prepareOrgId">
                                    <el-input v-model="customerPreparation.prepareOrgId"></el-input>
                                </el-form-item>
                            </el-col>-->
                            <el-col :span="6">
                                <el-form-item label="申报人"  prop="prepareEmployeeId">
                                    <order-search-employee :employee-id.sync="customerPreparation.prepareEmployeeId" :employee-name.sync="customerPreparation.prepareEmployeeName"></order-search-employee>
                                </el-form-item>
                            </el-col>

                            <el-col :span="6">
                                <el-form-item label="报备时间"  prop="prepareTime">
                                    <el-date-picker v-model="customerPreparation.prepareTime" type="datetime" value-format="yyyy-MM-dd HH:mm:ss" readonly>
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="录入人"  prop="enterEmployeeId">
                                    <order-selectemployee  v-model="customerPreparation.enterEmployeeId" self="true" :disabled="enterDisabled"></order-selectemployee>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="客户属性" prop="custProperty">
                                    <vue-select code-type="CUSTOMER_PROPERTY" v-model="customerPreparation.custProperty" @change="changeCustomerProperty"></vue-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20">
                            <el-col :span="6">
                                <el-form-item label="装修地址">
                                    <el-input v-model="customerPreparation.refereeFixPlace" :disabled="isRefereeFixPlaceDisable"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="客户姓名">
                                    <el-input v-model="customerPreparation.refereeName" :disabled="isRefereeNameDisable"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="客户电话" prop="refereeMobileNo">
                                    <el-input v-model="customerPreparation.refereeMobileNo" :disabled="isRefereeMobileNoDisable"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="备注">
                                    <el-input type="textarea" v-model="customerPreparation.remark"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-form-item style="text-align: center ">
                            <el-button type="primary" @click="submit">保存</el-button>
                            <el-button>取消</el-button>
                        </el-form-item>
                    </el-card>
<!--                    <el-card class="box-card">
                        <div>
                            <el-divider content-position="center"><span style="font-weight: 700">报备裁定，可以将某次报备视为无效报备</span></el-divider>
                        </div>
                        <el-row :gutter="20">
                            <el-col :span="6">
                                <el-form-item label="">
                                    <el-checkbox v-model="defaultSex">裁定为无效报备</el-checkbox>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="裁定人">
                                    <vue-select code-type="HOUSE_MODE" v-model="defaultSex" @change="changeSex"
                                                disabled></vue-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="裁定时间">
                                    <el-date-picker v-model="custQueryCond.name" type="datetime" disabled>
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="">
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="主管备注">
                                    <el-input type="textarea" v-model="custQueryCond.name" controls-position="right"
                                              disabled></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-card>-->
                </el-form>
            </template>

            <el-card class="box-card">
                <div>
                    <el-divider content-position="left"><span style="font-weight: 700">历史报备</span></el-divider>
                </div>
                <template>
                    <el-table
                            :data="custOrder"
                            border
                            stripe="true"
                            style="width: 100%">
                        <el-table-column
                                prop="prepareEmployeeName"
                                label="申报人"
                                align="center"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="prepareTime"
                                label="申报时间"
                                align="center"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="consultTime"
                                label="上门时间"
                                align="center"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="preparationStatusName"
                                align="center"
                                label="报备状态">
                        </el-table-column>
                        <el-table-column
                                prop="enterEmployeeName"
                                align="center"
                                label="录入人">
                        </el-table-column>
                        <el-table-column
                                prop="houseAddress"
                                align="center"
                                label="楼盘地址">
                        </el-table-column>
                        <el-table-column
                                prop="remark"
                                align="center"
                                label="备注">
                        </el-table-column>
                    </el-table>
                </template>
            </el-card>
        </el-main>
    </el-container>
</div>
<style>
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .box-card {
        margin-bottom: 18px;
    }
</style>
<script src="../../../static/js/modules/bss/cust/cust.preparation.js"
        th:src="@{static/js/modules/bss/cust/cust.preparation.js(v=${version})}"></script>
</body>

</html>