<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>dolphin-admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="static/js/framework/requirejs/require.min.js"
            th:src="@{static/js/framework/requirejs/require.min.js(v=${version})}"></script>
    <script src="static/js/framework/requirejs/require.config.js"
            th:src="@{static/js/framework/requirejs/require.config.js(v=${version})}"></script>
</head>
<body>
<div id="customer_perparation" style="display:none" :style="display?display:''">
    <el-container>
        <el-main>
            <template>

                <el-form :inline="false" label-position="right" label-width="80px">
                    <el-card class="box-card">
                        <div>
                            <el-divider content-position="left"><span style="font-weight: 700">客户信息</span></el-divider>
                        </div>
                        <el-row :gutter="20">
                            <el-col :span="6">
                                <el-form-item label="客户编号" required="true">
                                    <el-input v-model="custBase.custNo" placeholder="客户编号"
                                              value="20200201001"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="客户姓名" required="true">
                                    <el-input v-model="custBase.custName" placeholder="客户姓名"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="客户电话" required="true">
                                    <el-input v-model="custBase.mobileNo" placeholder="客户联系电话"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="房屋类型" required="true">
                                    <vue-select code-type="HOUSE_MODE" v-model="project.houseMode"></vue-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20">
                            <el-col :span="6">
                                <el-form-item label="房屋面积">
                                    <el-input v-model="project.houseArea" controls-position="right"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="装修地点" required="true">
                                    <vue-select code-type="HOUSE_MODE" v-model="project.housePlace"></vue-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="楼栋" required="true">
                                    <el-input v-model="project.houseBuilding">
                                        <template slot="append">栋</template>
                                    </el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="房间号"  required="true">
                                    <el-input v-model="project.houseRoomNo"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-card>

                    <el-card class="box-card">
                        <div>
                            <el-divider content-position="left"><span style="font-weight: 700">报备信息</span></el-divider>
                        </div>
                        <el-row :gutter="20">
                            <el-col :span="6">
                                <el-form-item label="部门" required="true">
                                    <el-input v-model="custPreparation.prepareOrgId" controls-position="right"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="申报人" required="true">
                                        <el-select v-model="custPreparation.prepareEmployeeId" filterable placeholder="输入姓名或手机号搜索"  style="width: 220px">
                                            <el-option v-for="item in employeeOptions" :key="item.userId"
                                                       :label="item.name"
                                                       :value="item.userId + '-' + item.name + '-' + item.mobileNo"></el-option>
                                        </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="报备时间" required="true">
                                    <el-date-picker v-model="custPreparation.prepareTime" type="datetime">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="录入人" required="true">
                                    <el-input v-model="custPreparation.enterEmployeeId"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row :gutter="20">
                            <el-col :span="6">
                                <el-form-item label="客户属性" required="true">
                                    <vue-select code-type="HOUSE_MODE" v-model="custPreparation.custProperty"></vue-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="装修地址">
                                    <el-input v-model="custPreparation.refereeFixPlace"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="客户姓名">
                                    <el-input v-model="custPreparation.refereeName"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="客户电话">
                                    <el-input v-model="custPreparation.refereeMobileNo"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="备注">
                                    <el-input type="textarea" v-model="custPreparation.remark"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-form-item style="text-align: center ">
                            <el-button type="primary" @click="submit">保存</el-button>
                            <el-button>取消</el-button>
                        </el-form-item>
                    </el-card>
<!--                    <el-card class="box-card">
                        <div>
                            <el-divider content-position="center"><span style="font-weight: 700">报备裁定，可以将某次报备视为无效报备</span></el-divider>
                        </div>
                        <el-row :gutter="20">
                            <el-col :span="6">
                                <el-form-item label="">
                                    <el-checkbox v-model="defaultSex">裁定为无效报备</el-checkbox>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="裁定人">
                                    <vue-select code-type="HOUSE_MODE" v-model="defaultSex" @change="changeSex"
                                                disabled></vue-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="裁定时间">
                                    <el-date-picker v-model="custQueryCond.name" type="datetime" disabled>
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :span="6">
                                <el-form-item label="">
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="主管备注">
                                    <el-input type="textarea" v-model="custQueryCond.name" controls-position="right"
                                              disabled></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-card>-->
                </el-form>
            </template>

            <el-card class="box-card">
                <div>
                    <el-divider content-position="left"><span style="font-weight: 700">历史报备</span></el-divider>
                </div>
                <template>
                    <el-table
                            :data="custOrder"
                            border
                            stripe="true"
                            style="width: 100%">
                        <el-table-column
                                prop="name"
                                label="申报人"
                                align="center"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="sex"
                                label="申报时间"
                                align="center"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="mobileNo"
                                label="联系电话"
                                align="center"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="wechatNicName"
                                label="上门时间"
                                align="center"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="address"
                                align="center"
                                label="报备状态">
                        </el-table-column>
                    </el-table>
                </template>
            </el-card>
        </el-main>
    </el-container>
</div>
<style>
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .box-card {
        margin-bottom: 18px;
    }
</style>
<script src="../../../static/js/modules/bss/cust/cust.preparation.js"
        th:src="@{static/js/modules/bss/cust/cust.preparation.js(v=${version})}"></script>
</body>

</html>