<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>dolphin-admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="static/js/framework/requirejs/require.min.js"
            th:src="@{static/js/framework/requirejs/require.min.js(v=${version})}"></script>
    <script src="static/js/framework/requirejs/require.config.js"
            th:src="@{static/js/framework/requirejs/require.config.js(v=${version})}"></script>
</head>
<body>
<div id="app" v-cloak>
    <el-container>
        <el-main>
            <el-card class="box-card">
                <el-collapse value="1" accordion>
                    <el-collapse-item title="查询条件" name="1">

                        <el-form :inline="false" :model="custQueryCond" label-position="right" label-width="80px">
                            <el-row>
                                <el-col :span="8">
                                    <el-form-item label="客户姓名">
                                        <el-input v-model="custQueryCond.custName" placeholder="客户姓名"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8">
                                    <el-form-item label="微信昵称">
                                        <el-input v-model="custQueryCond.wxNick" placeholder="微信昵称"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8">
                                    <el-form-item label="楼盘">
                                        <house-select v-model="custQueryCond.houseId"></house-select>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="8">
                                    <el-form-item label="部门">
                                        <org-orgtree :org-id.sync="custQueryCond.orgId" :orgName="custQueryCond.orgName"></org-orgtree>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8">
                                    <el-form-item label="家装顾问">
                                        <order-selectemployee role-id="3"
                                                              v-model="custQueryCond.counselorEmployeeId"></order-selectemployee>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8">
                                    <el-form-item label="客户代表">
                                        <order-selectemployee role-id="15"
                                                              v-model="custQueryCond.customerServiceEmployeeId"></order-selectemployee>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="8">
                                    <el-form-item label="状态选项">
                                            <el-select v-model="custQueryCond.busiStatus" placeholder="请选择" style="width:100%">
                                                <el-option
                                                        v-for="item in statusOptions"
                                                        :key="item.value"
                                                        :label="item.label"
                                                        :value="item.value">
                                                </el-option>
                                            </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8">
                                    <el-form-item label="开始时间">
                                        <el-date-picker
                                                v-model="custQueryCond.startTime"
                                                type="date"
                                                value-format="yyyy-MM-dd"
                                                placeholder="选择日期"
                                                style="width:100%">
                                        </el-date-picker>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8">
                                    <el-form-item label="结束时间">
                                        <el-date-picker
                                                v-model="custQueryCond.endTime"
                                                type="date"
                                                value-format="yyyy-MM-dd"
                                                placeholder="选择日期"
                                                style="width:100%">
                                        </el-date-picker>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="8">
                                    <el-form-item label="推送产品">
                                        <vue-select code-type="YES_NO"
                                                    v-model="custQueryCond.sendFilter"></vue-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item style="text-align: right">
                                        <el-button type="primary" @click="queryCustomer">查询</el-button>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                    </el-collapse-item>
                </el-collapse>
            </el-card>

            <template>
                <el-table :data="customerInfo" stripe="true" style="width: 100%" fit="true" border height="700">
                    <el-table-column prop="customerName" label="客户姓名" fixed align="center" width="100">
                        <template slot-scope="scopeCustomer">
                            <el-button type="text"
                                       @click="toOrderDetail(scopeCustomer.row.custId, scopeCustomer.row.openId,scopeCustomer.row.partyId)">{{
                                scopeCustomer.row.customerName }}
                            </el-button>
                        </template>
                    </el-table-column>
                    <el-table-column prop="wxNick" label="微信昵称" align="center"  width="180"></el-table-column>
                    <el-table-column prop="houseAddress" label="装修地址" align="center" fixed width="180"></el-table-column>
                    <el-table-column prop="houseCounselorName" label="家装顾问" align="center" width="100"></el-table-column>
                    <el-table-column prop="customerServiceName" label="客户代表" align="center" width="100"></el-table-column>
                    <el-table-column prop="mobileNo" label="客户电话" align="center" width="150"></el-table-column>
                    <el-table-column prop="houseModeName" label="户型" align="center" width="120"></el-table-column>
                    <el-table-column prop="houseArea" label="面积" align="center" width="120"></el-table-column>
                    <el-table-column prop="consultTime" label="咨询时间" align="center" width="180"></el-table-column>
                    <el-table-column fixed="right" label="详情" align="center" width="120">
                        <template slot-scope="scopeCustomer">
                            <el-button type="text"
                                       @click="toOrderDetail(scopeCustomer.row.custId, scopeCustomer.row.openId,scopeCustomer.row.partyId)">
                                详情
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination">
                    <el-pagination
                            background
                            :current-page="custQueryCond.page"
                            :page-size="custQueryCond.size"
                            layout="total, sizes, prev, pager, next"
                            :total="custQueryCond.total"
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange">
                    </el-pagination>
                </div>
            </template>
        </el-main>
    </el-container>
</div>
<style>
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .box-card {
        margin-bottom: 18px;
    }
    [v-cloak] {
        display: none;
    }
</style>
<script src="../../../static/js/modules/bss/cust/query.customerV1.js"
        th:src="@{static/js/modules/bss/cust/query.customerV1.js(v=${version})}"></script>
</body>

</html>