<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>dolphin-admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="static/js/framework/requirejs/require.min.js"
            th:src="@{static/js/framework/requirejs/require.min.js(v=${version})}"></script>
    <script src="static/js/framework/requirejs/require.config.js"
            th:src="@{static/js/framework/requirejs/require.config.js(v=${version})}"></script>
</head>
<body>
<div id="app" style="display:none" :style="display?display:''">
    <el-container>
        <el-main>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>查询条件区</span>
                </div>
                <el-form :inline="false" :model="custQueryCond" label-position="right" label-width="80px">
                    <el-row>
                        <el-col :span="6">
                            <el-form-item label="客户姓名">
                                <el-input v-model="custQueryCond.custName" placeholder="客户姓名"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <el-form-item label="楼盘">
                                <house-select v-model="custQueryCond.houseId"></house-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <el-form-item label="户型">
                                <vue-select code-type="HOUSE_MODE" v-model="custQueryCond.houseMode"></vue-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <el-form-item label="设计师">
                                <order-selectemployee role-id="30"
                                                      v-model="custQueryCond.designEmployeeId"></order-selectemployee>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="6">
                            <el-form-item label="来源">
                                <vue-select code-type="INFORMATIONSOURCE"
                                            v-model="custQueryCond.informationSource"></vue-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <el-form-item label="状态">
                                <vue-select code-type="ORDER_STATUS"
                                            v-model="custQueryCond.orderStatus"></vue-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <el-form-item label="类型">
                                <vue-select code-type="CUSTOMER_TYPE"
                                            v-model="custQueryCond.customerType"></vue-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <el-form-item label="申报人">
                                <order-selectemployee role-id="-1"
                                                      v-model="custQueryCond.reportEmployeeId"></order-selectemployee>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="6">
                            <el-form-item label="业务时间">
                                <vue-select code-type="BUSITIME_TYPE" v-model="custQueryCond.timeType"></vue-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <el-form-item label="开始时间">
                                <el-date-picker
                                        v-model="custQueryCond.startTime"
                                        type="date"
                                        value-format="yyyy-MM-dd"
                                        placeholder="选择日期"
                                        style="width:100%">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <el-form-item label="结束时间">
                                <el-date-picker
                                        v-model="custQueryCond.endTime"
                                        type="date"
                                        value-format="yyyy-MM-dd"
                                        placeholder="选择日期"
                                        style="width:100%">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <el-form-item label="家装顾问">
                                <order-selectemployee role-id="3"
                                                      v-model="custQueryCond.counselorEmployeeId"></order-selectemployee>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row >
                        <el-col :span="20" >
                            <el-form-item style="text-align: right">
                                <el-button type="primary" @click="queryCustomer">查询</el-button>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </el-card>

            <template>

                <el-table :data="customerInfo" stripe="true" style="width: 100%">
                    <!--
                    <el-table-column label="选择" fixed align="center" width="65">
                        <template scope="scope">
                            <el-radio :label="scope.row" v-model="checked"
                                      @change.native="getTemplateRow(scope.$index,scope.row)">&nbsp
                            </el-radio>
                        </template>
                    </el-table-column>
                    <el-table-column prop="custId" label="客户编码" fixed align="center" width="180"></el-table-column>-->
                    <el-table-column prop="custName" label="客户姓名" fixed align="center"  width="100">
                        <template slot-scope="scopeCustomer">
                            <el-button type="text" @click="toOrderDetail(scopeCustomer.row.orderId, scopeCustomer.row.custId)">{{ scopeCustomer.row.custName }}</el-button>
                        </template>
                    </el-table-column>
                    <el-table-column prop="prepareEmployeeName" label="客户代表" align="center" fixed width="100"></el-table-column>
                    <el-table-column prop="prepareEmployeeName" label="设计师" align="center" width="100"></el-table-column>
                    <el-table-column prop="mobileNo" label="联系电话" align="center" width="180"></el-table-column>
                    <el-table-column prop="prepareEmployeeName" label="家装顾问" align="center" width="180"></el-table-column>
                    <el-table-column prop="consultTime" label="咨询时间" align="center" width="180"></el-table-column>
                    <el-table-column prop="prepareTime" label="申报时间" align="center" width="180"></el-table-column>
                    <el-table-column prop="custType" label="客户类型" align="center"></el-table-column>
                    <el-table-column prop="custType" label="信息来源" align="center"></el-table-column>
                    <el-table-column prop="custType" label="活动类型" align="center"></el-table-column>
                    <el-table-column prop="prepareTime" label="活动时间" align="center" width="180"></el-table-column>
                    <el-table-column prop="custStatus" label="客户状态" align="center"></el-table-column>
                    <el-table-column prop="custPropertyName" label="客户报备类型" width="180" align="center"></el-table-column>
                    <el-table-column prop="status" label="报备状态" align="center"></el-table-column>
                    <el-table-column prop="preparationExpireTime" align="center" label="报备失效时间" width="180"></el-table-column>
                    <el-table-column prop="rulingEmployeeName" align="center" label="裁定人"></el-table-column>
                    <el-table-column prop="rulingTime" label="裁定时间" width="180" align="center"></el-table-column>
                    <el-table-column prop="rulingRemark" label="裁定备注" align="center"></el-table-column>
                    <el-table-column prop="prepareTime" label="电话咨询时间" width="180" align="center"></el-table-column>
                    <el-table-column prop="address" label="客户类型备注" align="center"></el-table-column>
                    <el-table-column prop="prepareTime" label="量房时间" width="180" align="center"></el-table-column>
                    <el-table-column fixed="right" label="操作" align="center" width="180">
                        <template slot-scope="scope">
                            <el-button type="text" size="small" >编辑</el-button>
                            <el-button type="text" size="small" @click="customerVisit(scope.row.custId)">回访</el-button>
                            <el-button type="text" size="small"  @click="customerRuling(scope.row.custId, scope.row.mobileNo)">裁定</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div class="pagination">
                    <el-pagination
                            background
                            :current-page="custQueryCond.page"
                            :page-size="custQueryCond.size"
                            layout="total, sizes, prev, pager, next"
                            :total="custQueryCond.total"
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange">
                    </el-pagination>
                </div>
            </template>
        </el-main>
    </el-container>
</div>
<style>
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .box-card {
        margin-bottom: 18px;
    }
</style>
<script src="../../../static/js/modules/bss/cust/query.customer.js"
        th:src="@{static/js/modules/bss/cust/query.customer.js(v=${version})}"></script>
</body>

</html>