<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>知乎问答</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="static/js/framework/requirejs/require.min.js"
            th:src="@{static/js/framework/requirejs/require.min.js(v=${version})}"></script>
    <script src="static/js/framework/requirejs/require.config.js"
            th:src="@{static/js/framework/requirejs/require.config.js(v=${version})}"></script>
</head>
<body>
<div id="topic">
    <el-container>
        <el-main>
            <!-- 查询区域 -->
            <el-card class="box-card" shadow="hover">
                <el-form :inline="false" :model="queryCond" label-position="right" label-width="100px">
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label="习题信息">
                                <el-input v-model="queryCond.topicText" placeholder="习题信息"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="习题类型">
                                <el-select v-model="queryCond.type" placeholder="请选择">
                                    <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item>
                                <el-button type="primary" @click="queryByCond">查询</el-button>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </el-card>

            <!-- 展示区域 -->
            <el-card class="box-card" shadow="hover">
                <el-row style="padding-bottom: 12px">
                    <el-button type="success" icon="el-icon-folder-add" @click="addTopic">新增</el-button>
                    <el-button type="danger" icon="el-icon-delete" @click="deleteTopicBatch">删除</el-button>
                </el-row>
                <el-table :data="topicInfo" stripe="true" border height="350" style="width: 100%" @selection-change="handleSelectChange">
                    <el-table-column type="selection" width="40" align="center"></el-table-column>
                    <el-table-column type="expand">
                        <template slot-scope="props">
                            <el-card class="box-card" shadow="hover">
                                <el-table border
                                          :data="props.row.topicOptions" stripe="true" height="250"
                                          style="width: 90%" align="center" >
                                    <el-table-column prop="symbol" label="习题选项" align="center"></el-table-column>
                                    <el-table-column prop="name" label="选项内容" align="center"></el-table-column>
                                    <el-table-column label="选项操作" align="center">
                                        <template slot-scope="option">
                                            <el-button type="danger" width="35" size="mini" icon="el-icon-edit"
                                                       @click="editTopicOptionById(option.row)">修改
                                            </el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </el-card>
                        </template>
                    </el-table-column>
                    <el-table-column prop="name" label="习题名称" align="center"></el-table-column>
                    <el-table-column prop="type" :formatter="statusTransfer" label="习题类型" align="center"></el-table-column>
                    <el-table-column prop="correctAnswer" label="正确答案选项" align="center" width="180"></el-table-column>
                    <el-table-column prop="score" label="分数" align="center" width="80"></el-table-column>
                    <el-table-column fixed="right" label="操作" align="center" width="200">
                        <template slot-scope="topic">
                            <el-button type="warning" width="35" size="mini" icon="el-icon-edit"
                                       @click="editTopicById(topic.row)">修改
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-card>

            <!-- 分页信息 -->
            <div style="text-align: center">
                <el-pagination
                        layout="total, prev, pager, next"
                        :total="queryCond.count"
                        :current-page.sync="queryCond.page"
                        :page-size="queryCond.limit"
                        @current-change="query">
                </el-pagination>
            </div>

            <el-dialog width="60%" title="习题信息填写" append-to-body :visible.sync="addTopicDialogVisible">
                <el-card class="box-card" shadow="hover">
                    <el-form :inline="false" :model="topicAddCond"  ref="topicAddCond" label-position="right"
                             label-width="120px">
                        <el-row>
                            <el-col :span="14">
                                <el-form-item label="习题名称" label-width="120px" prop="name">
                                    <el-input v-model="topicAddCond.name" autocomplete="off"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="10">
                                <el-form-item label="习题类型" label-width="120px" prop="type">
                                    <vue-select code-type="EXERCISES_TYPE" v-model="topicAddCond.type"></vue-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="10">
                                <el-form-item label="正确答案选项" label-width="120px" prop="correctAnswer">
                                    <el-input v-model.number="topicAddCond.correctAnswer" autocomplete="off"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="10">
                                <el-form-item label="分数" label-width="120px" prop="score" label-position="right">
                                    <el-input v-model.number="topicAddCond.score" autocomplete="off"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row :style="showTree">
                            <vxe-toolbar>
                                <template v-slot:buttons>
                                    <vxe-button icon="fa fa-plus" @click="addTopicOption">新增习题选项</vxe-button>
                                    <vxe-button icon="fa fa-plus" @click="deleteTopicOptionBatch">删除选项</vxe-button>
                                </template>
                            </vxe-toolbar>
                            <vxe-table
                                    border
                                    resizable
                                    ref="addTopicOptionInfos"
                                    show-overflow
                                    highlight-hover-row
                                    highlight-cell
                                    keep-source
                                    max-height="500px"
                                    :auto-resize="true"
                                    :data="addTopicOptionInfos"
                                    :edit-config="{trigger: 'click', mode: 'cell', showStatus: true}"
                                    :checkbox-config="{strict: true, range: true, trigger: 'row', highlight: true}">
                                <vxe-table-column type="checkbox" align="center"  width="40"></vxe-table-column>
                                <vxe-table-column field="symbol" align="center" sortable title="习题选项" width="250" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                                <vxe-table-column field="name" align="center" sortable title="选项内容" width="150" :edit-render="{name: 'input', attrs: {type: 'text'}}"></vxe-table-column>
                                <vxe-table-column fixed="right" title="操作" align="center" width="80" show-overflow>
                                    <template v-slot="{ row }">
                                        <el-button
                                                size="mini"
                                                type="danger"
                                                icon="el-icon-delete"
                                                @click="deleteTopicOption(row)">删除</el-button>
                                    </template>
                                </vxe-table-column>
                            </vxe-table>
                        </el-row>
                        <el-row>
                            <div style="text-align: center">
                                <el-button type="primary" @click="submitAdd(addTopicOptionInfos)">保存</el-button>
                                <el-button @click="cancel">取消</el-button>
                            </div>
                        </el-row>
                    </el-form>
                </el-card>
            </el-dialog>

            <el-dialog width="60%" title="习题修改" append-to-body :visible.sync="editTopicDialogVisible">
                <el-form :inline="false" :model="topicEditCond" ref="topicEditCond" label-position="right"
                         label-width="120px">
                    <el-row>
                        <el-col>
                            <el-form-item label="习题名称" label-width="100px" prop="name">
                                <el-input v-model="topicEditCond.name" autocomplete="off"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="习题类型" label-width="100px" prop="storagePath">
                                <el-input v-model="topicEditCond.type" autocomplete="off"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="正确答案选项" label-width="100px" prop="status">
                                <el-input v-model.number="topicEditCond.correctAnswer" autocomplete="off"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="分数" label-width="100px" prop="status">
                                <el-input v-model.number="topicEditCond.score" autocomplete="off"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <div style="text-align: center">
                            <el-button type="primary" @click="submitEdit(topicEditCond)">提交修改</el-button>
                            <el-button @click="editTopicDialogVisible = false">取消</el-button>
                        </div>
                    </el-row>
                </el-form>
            </el-dialog>

            <el-dialog width="60%" title="习题选项修改" append-to-body :visible.sync="editTopicOptionDialogVisible">
                <el-form :inline="false" :model="topicOptionEditCond" ref="topicOptionEditCond" label-position="right"
                         label-width="120px">
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label="习题选项" label-width="100px" prop="name">
                                <el-input v-model="topicOptionEditCond.symbol" autocomplete="off"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="选项内容" label-width="100px" prop="storagePath">
                                <el-input v-model="topicOptionEditCond.name" autocomplete="off"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <div style="text-align: center">
                            <el-button type="primary" @click="submitTopicOptionEdit(topicOptionEditCond)">提交修改</el-button>
                            <el-button @click="editTopicOptionDialogVisible = false">取消</el-button>
                        </div>
                    </el-row>
                </el-form>
            </el-dialog>
        </el-main>
    </el-container>
</div>
<style>
    .text {
        font-size: 14px;
    }

    .box-card {
        margin-bottom: 12px;
    }

    .item {
        margin-bottom: 18px;
    }

    .el-card__header {
        padding: 10px;
    }

    .modify_row {
        color: #ff4835;
    }

    .new_row {
        color: #4DAF29;
    }

    .delete_row {
        text-decoration: line-through;
    }
</style>

<script src="../../../static/js/modules/college/topic/college.topic.js"
        th:src="@{static/js/modules/college/topic/college.topic.js(v=${version})}"></script>
</body>
</html>