<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>编辑公告</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../static/layui/css/layui.css" th:href="@{static/layui/css/layui.css(v=${version})}" media="all">
    <link rel="stylesheet" href="../../../static/css/admin.css" th:href="@{static/css/admin.css(v=${version})}" media="all">
    <link rel="stylesheet" href="../../../static/css/tag.css" th:href="@{static/css/tag.css(v=${version})}" media="all">
    <script src="../../../static/layui/layui.js" th:src="@{static/layui/layui.js(v=${version})}"></script>
    <script src="../../../static/js/base.js" th:src="@{static/js/base.js(v=${version})}"></script>
<!--    <script src="../../../static/layui/lay/modules/tag.js" th:src="@{static/js/extend/tag.js(v=${version})}"></script>-->
    <script src="../../../static/js/modules/system/announce-create.js" th:src="@{static/js/modules/system/announce-create.js(v=${version})}"></script>
</head>
<body>
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">选定的组织</div>
                <div class="layui-card-body">
                    <div id="orgCarts" class="layui-btn-container tag" lay-filter="orgCarts" lay-allowclose="true">
                    </div>
                </div>
                <div class="layui-card-body">
                    <button class="layui-btn site-demo-layedit" data-type="orgAdd">添加</button>
                    <button class="layui-btn site-demo-layedit" data-type="orgDeleteAll">全部删除</button>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">选定的个人</div>
                <div class="layui-card-body">
                    <div id="peopleCarts" class="layui-btn-container tag" lay-filter="peopleCarts" lay-allowclose="true">
                        <button lay-id="1" type="button" class="tag-item">张三丰</button>
                        <button lay-id="3" type="button" class="tag-item layui-btn-primary">风清扬</button>
                        <button lay-id="5" type="button" class="tag-item layui-btn-primary">玄难</button>
                    </div>
                </div>
                <div class="layui-card-body">
                    <button class="layui-btn site-demo-layedit" data-type="peopleAdd">添加</button>
                    <button class="layui-btn site-demo-layedit" data-type="peopleDeleteAll">全部删除</button>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <textarea class="layui-textarea" id="LAY_announce-textarea" style="display: none"></textarea>
                </div>
                <div class="layui-card-body">
                    <div class="site-demo-button" style="margin-top: 20px;" align="right">
                        <button id="createBtn" class="layui-btn site-demo-layedit" data-type="createAnnounce">发布新公告</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>