<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 控制台主页一</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../static/layui/css/layui.css" th:href="@{static/layui/css/layui.css(v=${version})}" media="all">
    <link rel="stylesheet" href="../../../static/css/admin.css" th:href="@{static/css/admin.css(v=${version})}" media="all">
    <link rel="stylesheet" th:href="${hirunIconStore}" media="all">
    <script src="../../../static/layui/layui.js" th:src="@{static/layui/layui.js(v=${version})}"></script>
    <script src="../static/js/base.js" th:src="@{static/js/base.js(v=${version})}"></script>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">快捷方式</div>
                        <div class="layui-card-body">

                            <div class="layui-carousel layadmin-carousel layadmin-shortcut" id="hostMenusPage0">

                                <div carousel-item>
                                    <!-- 常用菜单 -->
                                    <ul class="layui-row layui-col-space10" id="hostMenusPage1">
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">待办事项</div>
                        <div class="layui-card-body">

                            <div class="layui-carousel layadmin-carousel layadmin-backlog">
                                <div carousel-item>
                                    <ul class="layui-row layui-col-space10" id="pending">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">数据概览</div>
                        <div class="layui-card-body">
                            <div id="LAY-index-dataview">
                                <div style="width:100%;height:415px;"><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">通知列表</div>
                <div class="layui-card-body layui-text" >
                    <table id="message-table" lay-filter="message-table"></table>
                </div>
            </div>


            <div class="layui-card">
                <div class="layui-card-body" style="height:398px;background: url('static/img/linebg.jpg') no-repeat;background-size: cover">
                    <div id="LAY-index-mapview">
                        <div style="width:100%;height:398px;"><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                    </div>
                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-header">版本信息</div>
                <div class="layui-card-body layui-text">
                    <table class="layui-table">
                        <colgroup>
                            <col width="100">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <td>应用名称</td>
                            <td>
                                鸿助手业务运营支撑系统
                            </td>
                        </tr>
                        <tr>
                            <td>版本</td>
                            <td>
                                version 1.0
                            </td>
                        </tr>
                        <tr>
                            <td>更新内容</td>
                            <td>新增人资档案管理相关内容及报表</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="birthdayWish" style="display:none;width:800px">
</div>

<script>
    layui.extend(
        {}
    ).use(['console'], function (args) {
        layui.console.init();
    });
</script>
</body>
</html>

