<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>选择部门</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../static/layui/css/layui.css" th:href="@{static/layui/css/layui.css(v=${version})}" media="all">
    <link rel="stylesheet" href="../../../static/css/admin.css" th:href="@{static/css/admin.css(v=${version})}" media="all">
    <script src="../../../static/layui/layui.js" th:src="@{static/layui/layui.js(v=${version})}"></script>
    <script src="../../../static/js/base.js" th:src="@{static/js/base.js(v=${version})}"></script>
    <script src="../../../static/js/modules/system/org-select.js" th:src="@{static/js/modules/system/org-select.js(v=${version})}"></script>
</head>
<body>
<input type="hidden" id="orgIds" />
<button id="collectBtn" class="layui-btn layui-btn-small bcql-icon icon-save" lay-submit lay-filter="save" style="display: none;"></button>
<div id="orgTree" class="demo-tree demo-tree-box"></div>
<script>
    layui.extend({
        orgSelectManager: "{/}static/js/modules/system/org-select",
    }).use(['orgSelectManager'], function () {
        layui.orgSelectManager.init();
    })
</script>
</body>
</html>