<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>领款单复核</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="static/js/framework/requirejs/require.min.js" th:src="@{static/js/framework/requirejs/require.min.js(v=${version})}"></script>
    <script src="static/js/framework/requirejs/require.config.js" th:src="@{static/js/framework/requirejs/require.config.js(v=${version})}"></script>
</head>
<body>
<div id="app" v-cloak>
    <el-container>
        <el-main>
            <el-row>
                <el-card class="box-card" shadow="hover">
                    <div slot="header" class="clearfix" style="font-size: 14px">
                        <span>查询条件区</span>
                    </div>
                    <el-form :inline="false" :model="queryCond" label-position="right" label-width="80px">
                        <el-row>
                            <el-col :span="8">
                                <el-form-item label="制单类型">
                                    <vue-select code-type="VOUCHER_TYPE" v-model="queryCond.type"></vue-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="制单人">
                                    <order-search-employee :employee-id.sync="queryCond.employeeId" :employee-name.sync="queryCond.employeeName"></order-search-employee>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="制单时间">
                                    <el-date-picker
                                            v-model="queryCond.voucherDate"
                                            type="daterange"
                                            format="yyyy-MM-dd"
                                            value-format="yyyy-MM-dd"
                                            align="right"
                                            unlink-panels
                                            range-separator="至"
                                            start-placeholder="开始日期"
                                            end-placeholder="结束日期"
                                            style="width:100%"
                                            :picker-options="pickerOptions">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="8">
                                <el-form-item label="审核状态">
                                    <vue-select code-type="VOUCHER_AUDIT_STATUS" v-model="queryCond.auditStatus"></vue-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item>
                                    <el-button type="primary" icon="el-icon-search" @click="query">查询</el-button>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                </el-card>
            </el-row>
            <el-row>
                <el-card class="box-card" shadow="hover">
                    <vxe-table
                            border
                            resizable
                            ref="vouchers"
                            show-overflow
                            highlight-hover-row
                            highlight-cell
                            keep-source
                            max-height="800px"
                            :auto-resize="true"
                            :data="vouchers">
                        <vxe-table-column field="typeName" title="单据类型" sortable width="150" fixed="left"></vxe-table-column>
                        <vxe-table-column field="itemName" title="单据小类" sortable width="150" fixed="left"></vxe-table-column>
                        <vxe-table-column field="voucherNo" title="领款单号" sortable width="180" fixed="left">
                            <template v-slot="{ row }">
                                <el-button type="text" @click="showDetail(row.voucherNo)">{{row.voucherNo}}</el-button>
                            </template>
                        </vxe-table-column>
                        <vxe-table-column field="auditStatusName" title="单据状态" sortable width="150"></vxe-table-column>
                        <vxe-table-column field="voucherDate" title="制单时间" sortable width="150"></vxe-table-column>
                        <vxe-table-column field="voucherEmployeeName" title="制单人" sortable width="100"></vxe-table-column>
                        <vxe-table-column field="remark" title="制单备注" sortable width="120" fixed="left"></vxe-table-column>
                        <vxe-table-column field="totalMoney" title="总金额" sortable width="150"></vxe-table-column>
                        <vxe-table-column field="cashierEmployeeName" title="出纳" sortable width="100" ></vxe-table-column>
                        <vxe-table-column field="auditEmployeeName" title="审核人" sortable width="100" ></vxe-table-column>
                        <vxe-table-column field="remark" title="摘要" sortable width="100" ></vxe-table-column>
                        <vxe-table-column field="payDate" title="付款时间" width="150" sortable></vxe-table-column>
                        <vxe-table-column title="操作" width="200" fixed="right" show-overflow>
                            <template v-slot="{ row }">
                                <el-button
                                        size="mini"
                                        type="primary"
                                        v-if="row.auditStatus == '3'"
                                        icon="el-icon-setting"
                                        @click="toPay(row.id)">
                                    付款
                                </el-button>
                                <el-button
                                        size="mini"
                                        type="success"
                                        v-if="row.auditStatus == '6'"
                                        icon="el-icon-setting"
                                        @click="receive(row.id)">
                                    收单
                                </el-button>
                                <el-button
                                        size="mini"
                                        type="danger"
                                        v-if="row.auditStatus == '6'"
                                        icon="el-icon-setting"
                                        @click="refuse(row.id)">
                                    退单
                                </el-button>
                            </template>
                        </vxe-table-column>
                    </vxe-table>
                    <div style="text-align: center">
                        <el-pagination
                                layout="total, prev, pager, next"
                                :total="queryCond.count"
                                :current-page.sync="queryCond.page"
                                :page-size="queryCond.limit"
                                @current-change="query">
                        </el-pagination>
                    </div>
                    <el-dialog title="领款单详情" :visible.sync="detailVisible">
                        <el-card class="box-card" shadow="hover">
                            <vxe-table
                                    border
                                    resizable
                                    ref="voucherItems"
                                    show-overflow
                                    highlight-hover-row
                                    highlight-cell
                                    keep-source
                                    max-height="800px"
                                    :auto-resize="true"
                                    :data="voucherItems">
                                <vxe-table-column field="typeName" title="单据大类" sortable width="150"></vxe-table-column>
                                <vxe-table-column field="itemName" title="单据小类" sortable width="150"></vxe-table-column>
                                <vxe-table-column field="financeItemName" title="财务科目" sortable width="150"></vxe-table-column>
                                <vxe-table-column field="projectName" title="项目名称/领款人" width="200" sortable></vxe-table-column>
                                <vxe-table-column field="fee" title="金额" sortable width="150"></vxe-table-column>
                                <vxe-table-column field="remark" title="摘要">
                                    <template v-slot="{ row }">
                                        <vxe-table-column field="trafficType" v-if="row.item == '5'" title="交通类别" width="100"></vxe-table-column>
                                        <vxe-table-column field="trafficDate" v-if="row.item == '5'" title="日期" width="100"></vxe-table-column>
                                        <vxe-table-column field="trafficBegin" v-if="row.item == '5'" title="起点" width="100"></vxe-table-column>
                                        <vxe-table-column field="trafficEnd" v-if="row.item == '5'" title="终点" width="100"></vxe-table-column>
                                        <vxe-table-column field="trafficFee" v-if="row.item== '5'" title="交通费" width="100"></vxe-table-column>
                                        <vxe-table-column field="allowance" v-if="row.item == '5'" title="出差补助" width="100"></vxe-table-column>
                                        <vxe-table-column field="hotelFee" v-if="row.item == '5'" title="住宿费" width="100"></vxe-table-column>
                                    </template>
                                </vxe-table-column>
                            </vxe-table>
                        </el-card>
                    </el-dialog>
                </el-card>
            </el-row>
        </el-main>
    </el-container>
</div>
<style>
    .text {
        font-size: 14px;
    }

    .box-card {
        margin-bottom: 12px;
    }

    .item {
        margin-bottom: 18px;
    }

    .el-card__header {
        padding:10px;
    }

    .modify_row {
        color: #ff4835;
    }

    .new_row {
        color: #4DAF29;
    }

    .delete_row {
        text-decoration:line-through;
    }
    [v-cloak] {
        display: none;
    }
</style>
<script src="static/js/modules/finance/bill/query.finance.pay.js" th:src="@{static/js/modules/finance/bill/query.finance.pay.js(v=${version})}"></script>
</body>
</html>