config.stopBubbling = true

# lombok 默认对 boolean 类型（注：对 Boolean 不生效）字段生成的 get 方法使用 is 前缀, 默认: false
lombok.getter.noisprefix = false

# 默认的 set 方法返回 void 设置为 true 返回调用对象本身，方便使链式来继调用，默认: false
lombok.accessors.chain = false

# 如果设置为 true  get 和 set 方法将不带 get,set 前缀, 直接以字段名为方法名，默认: false
lombok.accessors.fluent = false

# 设置 log 类注解返回的字段名称，默认: log
lombok.log.fieldname = log