<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>dolphin-admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="static/js/framework/requirejs/require.min.js"
            th:src="@{static/js/framework/requirejs/require.min.js(v=${version})}"></script>
    <script src="static/js/framework/requirejs/require.config.js"
            th:src="@{static/js/framework/requirejs/require.config.js(v=${version})}"></script>
</head>
<body>
<div id="app" v-cloak>
    <el-container>
        <el-main>
            <el-row>
                <div class="grid-content bg-purple-light">
                    <order-info :order-id="collectFee.orderId"></order-info>
                    <el-card class="box-card">
                        <div slot="header">
                            <span>操作区</span>
                        </div>
                        <el-form :inline="false"  label-position="right" label-width="80px" :model="collectFee" ref="collectFee">
                            <el-row>
                                <el-col :span="8" v-if="collectFee.orderStatus == '18'">
                                    <el-form-item label="工程文员" prop="engineeringClerk" label-width="100px">
                                        <order-selectemployee role-id="32" v-model="collectFee.engineeringClerk"  ></order-selectemployee>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8" v-if="collectFee.orderStatus == '30'">
                                    <el-form-item label="售后检测人员" prop="serviceClerk" label-width="100px">
                                        <order-selectemployee role-id="57" v-model="collectFee.serviceClerk"  ></order-selectemployee>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="24">
                                    <el-form-item label="审核备注" prop="auditRemark" label-width="100px">
                                        <el-input type="textarea" v-model="collectFee.auditRemark"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-form-item style="text-align: center ">
<!--                                    <el-button type="primary" @click="save">保存</el-button>-->
                                <el-button type="primary" @click="submitAudit">审核通过</el-button>
                                <el-button type="warning" @click="auditFailed">审核不通过</el-button>
<!--                                    <el-button type="primary" @click="submitSneak">咨询跑单</el-button>-->
                            </el-form-item>
                        </el-form>
                    </el-card>

                    </el-card>
                </div>
            </el-row>
        </el-main>
    </el-container>
</div>
<style>
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .box-card {
        margin-bottom: 12px;
    }

    .el-card__header {
        padding: 10px;
    }
</style>
<script src="../../../static/js/modules/bss/order/cost_audit.js"
        th:src="@{static/js/modules/bss/order/cost_audit.js(v=${version})}"></script>
</body>
</html>