<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>dolphin-admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="static/js/framework/requirejs/require.min.js"
            th:src="@{static/js/framework/requirejs/require.min.js(v=${version})}"></script>
    <script src="static/js/framework/requirejs/require.config.js"
            th:src="@{static/js/framework/requirejs/require.config.js(v=${version})}"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-main>
            <el-row :gutter="12">
                <el-col :span="6">
                    <div class="grid-content bg-purple">
                        <cust-info cust-id="263"></cust-info>

                        <order-worker :order-id="customerConsult.orderId"></order-worker>
                    </div>
                </el-col>
                <el-col :span="18">
                    <div class="grid-content bg-purple-light">
                        <order-info :order-id="customerConsult.orderId"></order-info>
                        <el-card class="box-card">
                            <div slot="header">
                                <span>操作区</span>
                            </div>
                            <el-form :inline="false" :rules="rules" label-position="right" label-width="80px" :model="customerConsult" ref="customerConsult">
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="客户代表" prop="custServiceEmployeeId">
                                            <order-selectemployee role-id="15" v-model="customerConsult.custServiceEmployeeId"></order-selectemployee>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="橱柜设计师" prop="designCupboardEmployeeId" label-width="100px">
                                            <order-selectemployee role-id="15" v-model="customerConsult.designCupboardEmployeeId" ></order-selectemployee>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="主材管家" prop="mainMaterialKeeperEmployeeId">
                                            <order-selectemployee role-id="15" v-model="customerConsult.mainMaterialKeeperEmployeeId"></order-selectemployee>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="橱柜管家" prop="cupboardKeeperEmployeeId">
                                            <order-selectemployee role-id="30" v-model="customerConsult.cupboardKeeperEmployeeId"d></order-selectemployee>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <el-form-item label="咨询备注" prop="consultRemark">
                                            <el-input type="textarea" v-model="customerConsult.consultRemark"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-form-item style="text-align: center ">
                                    <el-button type="primary" @click="save">保存</el-button>
                                    <el-button type="primary" @click="submitMeasure">提交量房</el-button>
                                    <el-button type="primary" @click="submitSneak">咨询跑单</el-button>
                                </el-form-item>
                            </el-form>
                        </el-card>
                        <div>
                            <cust-visit cust-id="365"></cust-visit>
                        </div>
                        </el-card>
                    </div>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
<style>
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .box-card {
        margin-bottom: 12px;
    }

    .el-card__header {
        padding: 10px;
    }
</style>
<script src="../../../static/js/modules/bss/order/customer.consult.js"
        th:src="@{static/js/modules/bss/order/customer.consult.js(v=${version})}"></script>
</body>
</html>