<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>dolphin-admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="static/element-ui/css/index.css"  th:href="@{static/element-ui/css/index.css(v=${version})}">
    <script src="static/js/framework/vue/vue.min.js" th:src="@{static/js/framework/vue/vue.min.js(v=${version})}"></script>
    <!-- 引入组件库 -->
    <script src="static/element-ui/js/index.js" th:src="@{static/element-ui/js/index.js(v=${version})}"></script>
    <script src="static/js/framework/axios/axios.min.js" th:src="@{static/js/framework/axios/axios.min.js(v=${version})}"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-main>
            <el-row :gutter="20">
                <el-col :span="6">
                    <div class="grid-content bg-purple">
                        <el-card class="box-card">
                            <el-row :gutter="20">
                                <el-col :span="12">
                                    <el-avatar :size="80" :src="avatarUrl"></el-avatar>
                                </el-col>
                                <el-col :span="12">
                                    <h2>{{customer.name}}</h2>
                                </el-col>
                            </el-row>
                            <el-divider>基本信息</el-divider>
                            <div class="text item">
                                姓名：{{customer.name}}
                            </div>
                            <div class="text item">
                                生日：{{customer.birthday}}
                            </div>
                            <div class="text item">
                                电话：{{customer.mobileNo}}
                            </div>
                        </el-card>
                    </div>
                </el-col>
                <el-col :span="18">
                    <div class="grid-content bg-purple-light">
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>订单主流程工作人员</span>
                            </div>
                            <el-steps :active="workers.length" align-center>
                                <el-step v-for="worker in workers" :title="worker.job" status="wait" :description="worker.name" icon="el-icon-s-custom"></el-step>
                            </el-steps>
                        </el-card>

                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>工程进度</span>
                            </div>
                            <el-progress :text-inside="true" :stroke-width="26" :percentage="70"></el-progress>
                        </el-card>

                        <el-row :gutter="20">
                            <el-col :span="12">
                                <div class="grid-content bg-purple-light">
                                    <el-card class="box-card">
                                        <div slot="header" class="clearfix">
                                            <span>工程进度</span>
                                        </div>
                                        <el-progress :text-inside="true" :stroke-width="26" :percentage="70"></el-progress>
                                    </el-card>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div class="grid-content bg-purple-light">
                                    <el-card class="box-card">
                                        <div slot="header" class="clearfix">
                                            <span>工程进度</span>
                                        </div>
                                        <el-progress :text-inside="true" :stroke-width="26" :percentage="70"></el-progress>
                                    </el-card>
                                </div>
                            </el-col>
                        </el-row>
                    </div>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
<style>
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .box-card {
        margin-bottom: 18px;
    }
</style>
</body>
<script>
    let vm = new Vue({
        el: '#app',
        data: function() {
            return {
                customer: {
                    title : '客户基本信息',
                    name : '刘慧',
                    birthday : '1989-01-01',
                    mobileNo : '18573140029'
                },

                customerDefault: 'base',

                requirement : {
                    title : '客户需求信息',
                    style : '白色简约',
                    func : '功能列表'
                },

                workers: [
                    {
                        job: '家装顾问',
                        name: '左金虎'
                    },
                    {
                        job: '客户代表',
                        name: '张晓梅'
                    },
                    {
                        job: '设计师',
                        name: '罗厚石'
                    },
                    {
                        job: '项目经理',
                        name: '彭帅'
                    },
                    {
                        job: '工程助理',
                        name: '彭帅'
                    },
                    {
                        job: '工程文员',
                        name: '彭帅'
                    },
                    {
                        job: '出纳',
                        name: '彭帅'
                    },
                    {
                        job: '财务',
                        name: '彭帅'
                    },
                    {
                        job: '售后人员',
                        name: '彭帅'
                    }
                ],

                avatarUrl: 'static/img/male.jpg'
            }
        },

        methods: {
            getEmployee : function() {
                axios.get('api/organization/employee/loadEmployeeArchive?employeeId=1').then(function(responseData){
                    vm.customer = responseData.data.rows;
                }).catch(function(error){
                    console.log(error);
                });
            }
        }
    });

    vm.getEmployee();
</script>
</html>