<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>dolphin-admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../../static/layui/css/layui.css"
          th:href="@{static/layui/css/layui.css(v=${version})}"
          media="all">
    <link rel="stylesheet" href="../../../../static/css/admin.css" th:href="@{static/css/admin.css(v=${version})}"
          media="all">
    <script src="../../../../static/layui/layui.js" th:src="@{static/layui/layui.js(v=${version})}"></script>
    <script src="../../../../static/js/base.js" th:src="@{static/js/base.js(v=${version})}"></script>
</head>

<style>
    .layui-form-label {
        width: 90px;
    }

    .layui-form-label.layui-required:before {
        content: "*";
        color: #FF5722;
    }

    .layui-input-block {
        margin-left: 95px;
    }

    .layui-card-body {
        margin: 0px
    }
</style>

<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" id="create_preparation">
                <div class="layui-form-item" style="float: right">
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn" lay-submit="" lay-filter="save" >保存
                        </button>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="save"  >客户资料
                        </button>
                    </div>
                </div>

                <div class="layui-form-item">
                </div>
                <fieldset class="layui-elem-field">
                    <legend>设计合同信息</legend>
                    <div class="layui-field-box">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label layui-required">合同签订时间</label>
                                <div class="layui-inline">
                                    <input type="text" id="contractsigningTime" name="contractsigningTime" required
                                           lay-verify="required" placeholder="2020-1-4" autocomplete="off"
                                           class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label layui-required">合同终止时间</label>
                                <div class="layui-inline">
                                    <input type="text" id="contractendTime" name="contractendTime" required
                                           lay-verify="required" placeholder="2020-3-4" autocomplete="off"
                                           class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">设计师</label>
                                <div class="layui-inline">
                                    <input type="text" id="designerUpdate" name="designerUpdate" onclick=""
                                           placeholder="设计师1" autocomplete="off" class="layui-input"/>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label layui-required">已收量房费</label>
                                <div class="layui-inline">
                                    <input type="text" id="roomchargeFee" name="roomchargeFee" placeholder="" value="0"
                                           autocomplete="off" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">套内面积</label>
                                <div class="layui-inline">
                                    <input type="text" id="jacketArea" name="jacketArea" onclick=""
                                           placeholder="90" autocomplete="off" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">设计费标准 </label>
                                <div class="layui-inline">
                                    <input type="text" id="designFee" name="designFee" onclick=""
                                           placeholder="40" autocomplete="off" class="layui-input"/>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">合同设计费</label>
                                <div class="layui-inline">
                                    <input type="text" id="contractdesignFee" name="contractdesignFee" onclick=""
                                           placeholder="1" autocomplete="off" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">设计主题</label>
                                <div class="layui-inline">
                                    <input type="text" id="designTheme" name="designTheme" onclick=""
                                           placeholder="极简抽象" autocomplete="off" class="layui-input"/>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">方案助理</label>
                                <div class="layui-inline">
                                    <input type="text" id="assistant" name="assistant" onclick=""
                                           placeholder="" autocomplete="off" class="layui-input"/>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">备注</label>
                                <div class="layui-inline">
                                    <input type="text" id="remark" name="remark" onclick=""
                                           placeholder="" autocomplete="off" class="layui-input"/>
                                </div>
                            </div>
                        </div>
                        <table lay-even class="layui-hide" id="employee_table" lay-filter="employee_table" lay-size="lg"></table>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script>
    layui.extend(
        {
            charge: "{/}static/js/modules/bss/order/fee_charge"
        }
    ).use('charge', function (args) {
        layui.charge.init();
    });
</script>
</body>
</html>