<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>运营中心操作台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="static/js/framework/requirejs/require.min.js" th:src="@{static/js/framework/requirejs/require.min.js(v=${version})}"></script>
    <script src="static/js/framework/requirejs/require.config.js" th:src="@{static/js/framework/requirejs/require.config.js(v=${version})}"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-main>
            <el-row>
                <el-card class="box-card" shadow="hover">
                    <div slot="header" class="clearfix">
                        <span>查询条件区</span>
                    </div>
                    <el-form :inline="false" :model="queryCond" label-position="right" label-width="80px">
                        <el-row>
                            <el-col :span="8">
                                <el-form-item label="客户姓名">
                                    <el-input v-model="queryCond.custName" placeholder="请输入客户姓名"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="客户电话">
                                    <el-input v-model="queryCond.mobileNo" placeholder="请输入联系电话"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="归属楼盘">
                                    <house-select v-model="queryCond.housesId"></house-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="8">
                                <el-form-item label="当前状态">
                                    <el-select v-model="queryCond.orderStatus" filterable clearable placeholder="请选择" style="width:100%">
                                        <el-option
                                                v-for="status in options"
                                                :key="status.id"
                                                :label="status.statusName"
                                                :value="status.orderStatus">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item>
                                    <el-button type="primary" @click="query">查询</el-button>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                </el-card>
            </el-row>
            <el-row>
                <el-card class="box-card" shadow="hover">
                    <vxe-table
                            border
                            resizable
                            ref="orderTasks"
                            show-overflow
                            highlight-hover-row
                            highlight-cell
                            keep-source
                            max-height="800px"
                            :auto-resize="true"
                            :data="tasks">
                        <vxe-table-column field="custNo" title="客户编号" sortable width="150" fixed="left"></vxe-table-column>
                        <vxe-table-column field="custName" title="客户姓名" sortable width="100" fixed="left"></vxe-table-column>
                        <vxe-table-column field="mobileNo" title="联系电话" sortable width="150" fixed="left"></vxe-table-column>
                        <vxe-table-column field="housesName" title="楼盘" sortable width="150" fixed="left"></vxe-table-column>
                        <vxe-table-column field="decorateAddress" title="地址" sortable width="250" fixed="left"></vxe-table-column>
                        <vxe-table-column field="typeName" title="订单类型" sortable width="100" fixed="left"></vxe-table-column>
                        <vxe-table-column field="statusName" title="当前状态" sortable width="100"></vxe-table-column>
                        <vxe-table-column field="houseLayoutName" title="户型" sortable width="100" fixed="left"></vxe-table-column>
                        <vxe-table-column field="indoorArea" title="套内面积" sortable width="100"></vxe-table-column>
                        <vxe-table-column title="操作" fixed="right" show-overflow>
                            <template v-slot="{ row }">
                                <el-button
                                        size="mini"
                                        type="danger"
                                        icon="el-icon-setting"
                                        :disabled="row.auditStatus ==  '1' || row.auditStatus == '2' || row.auditStatus == '4'"
                                        @click="openProcess(row.pageUrl, row.statusName, row.orderId, row.custId, row.status)">处理</el-button>
                            </template>
                        </vxe-table-column>
                    </vxe-table>
                </el-card>
            </el-row>

        </el-main>
    </el-container>
</div>
<style>
    .text {
        font-size: 14px;
    }

    .box-card {
        margin-bottom: 12px;
    }

    .item {
        margin-bottom: 18px;
    }

    .el-card__header {
        padding:10px;
    }

    .modify_row {
        color: #ff4835;
    }

    .new_row {
        color: #4DAF29;
    }

    .delete_row {
        text-decoration:line-through;
    }
</style>
<script src="static/js/modules/bss/order/employee.order.console.js" th:src="@{static/js/modules/bss/order/employee.order.console.js(v=${version})}"></script>
</body>
</html>