<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>尾款信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="static/js/framework/requirejs/require.min.js"
            th:src="@{static/js/framework/requirejs/require.min.js(v=${version})}"></script>
    <script src="static/js/framework/requirejs/require.config.js"
            th:src="@{static/js/framework/requirejs/require.config.js(v=${version})}"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-main>
            <el-row :gutter="12">
                <el-col :span="6">
                    <div class="grid-content bg-purple">
                        <cust-info :cust-id="custId"></cust-info>

                        <order-worker :order-id="orderId"></order-worker>
                    </div>
                </el-col>
                <el-col :span="18">
                    <div class="grid-content bg-purple-light">
                        <order-info :order-id="orderId"></order-info>
                        <el-form :inline="false" :model="lastInstallment" label-width="130px"
                                 ref="lastInstallment" :rules="lastInstallmentRules">
                            <el-card class="box-card">
                                <el-row :gutter="20">
                                    <el-col :span="12">
                                        <el-form-item label="已收工程尾款" required="true">
                                            <el-input v-model="lastInstallment.chargedLastFee" :disabled="true">
                                                <template slot="append">元</template>
                                            </el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="工程结算总金额">
                                            <el-input v-model="lastInstallment.chargedAllFee" :disabled="true">
                                                <template slot="append">元</template>
                                            </el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="主材结算" required="true">
                                            <el-input v-model="lastInstallment.chargedMaterialFee" :disabled="true">
                                                <template slot="append">元</template>
                                            </el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="橱柜结算" required="true" prop="">
                                            <el-input v-model="lastInstallment.chargedCupboardFee" :disabled="true">
                                                <template slot="append">元</template>
                                            </el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-divider content-position="left">结算</el-divider>
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="木制品结算金额">
                                            <el-input v-model="getWoodProductFee" :disabled="true">
                                                <template slot="append">元</template>
                                            </el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="基础装修结算" required="true" prop="baseDecorationFee">
                                            <el-input v-model="lastInstallment.baseDecorationFee" >
                                                <template slot="append">元</template>
                                            </el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="门结算金额" prop="doorFee">
                                            <el-input v-model="lastInstallment.doorFee">
                                                <template slot="append">元</template>
                                            </el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="税金结算金额" prop="taxFee">
                                            <el-input v-model="lastInstallment.taxFee">
                                                <template slot="append">元</template>
                                            </el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="家具结算金额" prop="furnitureFee">
                                            <el-input v-model="lastInstallment.furnitureFee">
                                                <template slot="append">元</template>
                                            </el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="其他结算金额" prop="otherFee">
                                            <el-input v-model="lastInstallment.otherFee">
                                                <template slot="append">元</template>
                                            </el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="财务人员" required="true" prop="financeEmployeeId">
                                            <order-search-employee :employee-id.sync="lastInstallment.financeEmployeeId"
                                                                   :employee-name="lastInstallment.financeEmployeeName">
                                            </order-search-employee>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-divider content-position="left">结算工人工资</el-divider>
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="水电工资">
                                            <el-input v-model="workerSalary.hydropowerSalary">
                                                <template slot="append">元</template>
                                            </el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="水电备注">
                                            <el-input v-model="workerSalary.hydropowerRemark"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="木工工资">
                                            <el-input v-model="workerSalary.woodworkerSalary">
                                                <template slot="append">元</template>
                                            </el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="木工备注">
                                            <el-input v-model="workerSalary.woodworkerRemark"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="泥工工资">
                                            <el-input v-model="workerSalary.tilerSalary">
                                                <template slot="append">元</template>
                                            </el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="镶贴备注">
                                            <el-input v-model="workerSalary.tilerRemark"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="油工工资">
                                            <el-input v-model="workerSalary.painterSalary">
                                                <template slot="append">元</template>
                                            </el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="涂裱备注">
                                            <el-input v-model="workerSalary.painterRemark"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="敲墙工工资">
                                            <el-input v-model="workerSalary.wallworkerSalary">
                                                <template slot="append">元</template>
                                            </el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="敲墙备注">
                                            <el-input v-model="workerSalary.wallworkerRemark"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>

                                <el-row>
                                    <div style="text-align: center">
                                            <el-button type="primary" @click="save">保存</el-button>
                                            <el-button type="primary" @click="applyFinanceAuditLast">提交财务审核尾款</el-button>
                                            <el-button>
                                                <order-discount-item :order-id="orderId"></order-discount-item>
                                            </el-button>
                                            <el-button>
                                                <order-file-upload ref="upload" button-name="上传最终结算表"
                                                                   accept=".xls,.xlsx" :order-id="orderId" stage="16">
                                                </order-file-upload>
                                            </el-button>

                                    </div>
                                </el-row>
                            </el-card>
                        </el-form>
                    </div>
                    <div>
                        <cust-visit :cust-id="custId"></cust-visit>
                    </div>
                </el-col>
            </el-row>

        </el-main>
    </el-container>
</div>
<style>
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .box-card {
        margin-bottom: 12px;
    }

    .el-card__header {
        padding: 10px;
    }
</style>
<script src="static/js/modules/bss/order/last.installment.collection.js"
        th:src="@{static/js/modules/bss/order/last.installment.collection.js(v=${version})}"></script>
</body>
</html>