<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>dolphin-admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="static/js/framework/requirejs/require.min.js" th:src="@{static/js/framework/requirejs/require.min.js(v=${version})}"></script>
    <script src="static/js/framework/requirejs/require.config.js" th:src="@{static/js/framework/requirejs/require.config.js(v=${version})}"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-main>
            <el-row :gutter="12">
                <el-col :span="6">
                    <div class="grid-content bg-purple">
                        <cust-info :cust-id="custId"></cust-info>
                        <order-worker :order-id="wholeRoomDrawing.orderId"></order-worker>
                    </div>
                </el-col>
                <el-col :span="18">
                    <div class="grid-content bg-purple-light">
                        <order-info :order-id="wholeRoomDrawing.orderId"></order-info>
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>全房图信息</span>
                            </div>
                            <el-form :inline="false" :model="wholeRoomDrawing" label-position="right" label-width="140px">
                                <el-row>
                                    <el-col :span="11">
                                        <el-form-item label="设计师" required="true" prop="designer">
                                            <order-selectemployee role-id="30" v-model="wholeRoomDrawing.designer" :disabled="true"></order-selectemployee>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="11">
                                        <el-form-item label="开始时间">
                                            <el-date-picker
                                                    v-model="wholeRoomDrawing.startTime"
                                                    type="date"
                                                    value-format="yyyy-MM-dd"
                                                    style="width:100%"
                                                    placeholder="选择日期">
                                            </el-date-picker>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="11">
                                        <el-form-item label="结束时间">
                                            <el-date-picker
                                                    v-model="wholeRoomDrawing.endTime"
                                                    type="date"
                                                    value-format="yyyy-MM-dd"
                                                    style="width:100%"
                                                    placeholder="选择日期">
                                            </el-date-picker>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="11">
                                        <el-form-item label="预约看图时间">
                                            <el-date-picker
                                                    v-model="wholeRoomDrawing.preTime"
                                                    type="date"
                                                    value-format="yyyy-MM-dd"
                                                    style="width:100%"
                                                    placeholder="选择日期">
                                            </el-date-picker>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="11">
                                        <el-form-item label="制作组长" required="true" prop="designer">
                                            <order-selectemployee role-id="42" v-model="wholeRoomDrawing.productionLeader"></order-selectemployee>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="11">
                                        <el-form-item label="绘图助理">
                                            <order-selectemployee role-id="39" v-model="wholeRoomDrawing.drawingAssistant"></order-selectemployee>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="11">
                                        <el-form-item label="行政助理">
                                            <order-selectemployee role-id="40" v-model="wholeRoomDrawing.adminAssistant"></order-selectemployee>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="11">
                                        <el-form-item label="设计师备注">
                                            <el-input v-model="wholeRoomDrawing.designerRemarks" placeholder="设计师备注"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="11">
                                        <el-form-item label="水电设计师">
                                            <order-selectemployee role-id="30" v-model="wholeRoomDrawing.hydropowerDesigner"></order-selectemployee>
                                            <!--<order-selectemployee role-id="38" v-model="wholeRoomDrawing.hydropowerDesigner"></order-selectemployee>-->
                                        </el-form-item>
                                    </el-col>
                                </el-row>

                                <el-divider>助理设计师信息</el-divider>

                                <el-row>
                                    <template>
                                        <el-table
                                                :data="orderWorkActions"
                                                border
                                                style="width: 100%">
                                            <el-table-column
                                                    prop="employeeName"
                                                    label="设计师"
                                                    width="370">
                                            </el-table-column>
                                            <el-table-column
                                                    prop="action"
                                                    label="员工事项"
                                                    width="370">
                                            </el-table-column>
                                            <el-table-column
                                                    fixed="right"
                                                    label="操作"
                                                    width="60">
                                                <template slot-scope="scope">
                                                    <el-button
                                                            @click.native.prevent="deleteRow(scope.$index, orderWorkActions)"
                                                            type="text"
                                                            size="small">
                                                        取消
                                                    </el-button>
                                                </template>
                                            </el-table-column>
                                        </el-table>
                                    </template>
                                    <!--<el-col :span="11">
                                        <el-button type="success" @click="addSuccessHydropower" icon="el-icon-circle-plus-outline">添加水电设计师</el-button>
                                    </el-col>-->
                                </el-row>
                                <el-row>
                                    <el-col :span="11">
                                        <el-form-item label="助理设计师">
                                            <order-selectemployee role-id="30" v-model="wholeRoomDrawing.assistantDesigner"></order-selectemployee>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="11">
                                        <el-button type="info" @click="addSuccessEmployeeName" icon="el-icon-circle-plus-outline">添加助理设计师</el-button>
                                    </el-col>
                                </el-row>

                                <el-divider>审核信息</el-divider>

                                <el-row>
                                    <el-col :span="22">
                                        <el-form-item label="审核意见">
                                            <el-input v-model="wholeRoomDrawing.reviewedComments" placeholder="审核意见"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col v-if="true" :span="22">
                                        <el-form-item label="请选图纸审核人员" required="true" >
                                            <order-search-employee :employee-id.sync="wholeRoomDrawing.drawingAuditor" :employee-name.sync="wholeRoomDrawing.drawingAuditorName"></order-search-employee>
                                        </el-form-item>
                                    </el-col>
                                </el-row>

                                <el-divider>文件操作区域</el-divider>
                                <el-row>
                                    <el-col>
                                        <el-form-item >
                                            <el-row>
                                                <el-col :span="10">
                                                    <order-file-upload ref="upload" button-name="上传全房图" accept=".dwg" limit="1" :order-id="wholeRoomDrawing.orderId" stage="456"></order-file-upload>
                                                </el-col>
                                                <el-col :span="14">
                                                    <el-button><el-link type="primary" :href="downloadFileUrl">下载全房图</el-link></el-button>
                                                </el-col>
                                            </el-row>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-divider></el-divider>
                                <el-form-item>
                                    <el-button type="primary" @click="save">保存</el-button>
                                    <el-dropdown  @command="handleCommand">
                                        <el-button  type="primary">
                                            全房图流程操作<i class="el-icon-arrow-down el-icon--right"></i>
                                        </el-button>

                                        <el-dropdown-menu  v-if="!isAudit" slot="dropdown">
                                            <el-dropdown-item v-if="isShow&&!isBackToDesigner" command="submitToAuditPicturesFlow">不做场景，提交审图</el-dropdown-item>
                                            <el-dropdown-item v-if="isShow&&!isBackToDesigner" command="submitToConfirmFlow">等待客户确认全房图</el-dropdown-item>
                                            <el-dropdown-item v-if="!isBackToDesigner"command="submitCancelDesignExpensesFlow">退设计费</el-dropdown-item>
                                            <el-dropdown-item  v-if="isShow&&!isBackToDesigner" command="submitToWholeRoomDelayTimeFlow">申请延迟出全房图时间</el-dropdown-item>
                                            <el-dropdown-item v-if="isBackToDesigner" command="submitToBackToDesignerFlow">返回设计师</el-dropdown-item>
                                            <!--<el-dropdown-item >全房图完成，提交制作组长分配制作设计师</el-dropdown-item>-->
                                        </el-dropdown-menu>
                                        <el-dropdown-menu v-if="isAudit" slot="dropdown">
                                            <el-dropdown-item v-if="isBackToDesigner" command="submitToBackToDesignerFlow">全房图审核不通过</el-dropdown-item>
                                        </el-dropdown-menu>
                                    </el-dropdown>
                                </el-form-item>
                            </el-form>
                        </el-card>
                        <div>
                            <cust-visit :cust-id="custId"></cust-visit>
                        </div>
                        </el-card>
                    </div>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
<style>
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .box-card {
        margin-bottom: 12px;
    }

    .el-card__header {
        padding:10px;
    }
</style>
<script src="static/js/modules/bss/order/order.wholeroom.js" th:src="@{static/js/modules/bss/order/order.wholeroom.js(v=${version})}"></script>
</body>
</html>